{% extends "base/base.html" %}
{% block titulo %}Registrar acción específica{% endblock %}
{% block cuerpo %}
<br />
<h1><a href="javascript:window.history.go(-1);" class="regresar"><i class="fa fa-mail-reply fa-lg ollapsed"></i></a> Registrar acción específica</h1>
<br />
<form method="post">{% csrf_token %}

  <div class="">
    <b>{{ form.nombre_accion.label }}</b>
    <br />
    {{ form.nombre_accion }}
    {% if form.nombre_accion.errors %}
      <p>{{ form.nombre_accion.errors}}</p>
    {% endif %}
  </div>

  <br />

  <button class="btn btn-info" type="reset">Limpiar</button>
  <button class="btn btn-success" type="submit">Registrar</button>
</form>
{% endblock %}