{% extends "base/base.html" %}
{% block titulo %}Lista de acciones específicas{% endblock %}
{% block cuerpo %}
<br />
<h1><a href="{% url 'safet:inicio_carga_inicial' %}" class="regresar"><i class="fa fa-mail-reply fa-lg ollapsed"></i></a> Lista de acciones específicas</h1>
<br />
<a href="{% url 'safet:registrar_accion' %}">
  <button class="btn btn-success">Registrar acción específica</button>
</a>
<br />
<br />
<table border="1px" id="example" class="display">
  <thead>
    <tr>
      <th>N</th>
      <th>Nombre de la acción específica</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <!--tfoot class="color-white">
    <tr>
      <th>N</th>
      <th>Nombre de la acción específica</th>
      <th>Acciones</th>
    </tr>
  </tfoot-->
  <tbody>
  {% for x in object_list %}
  <tr>
    <td></td>
    <td>{{ x.nombre_accion }}</td>
    <td class="text-center td_botonera_tabla">
      <div class="row">
        <div class="col-sm-12">
          <a href="{% url 'safet:editar_accion' x.id %}" title="Editar"><i class="glyphicon glyphicon-pencil"></i></a>
          <a href="{% url 'safet:borrar_accion' x.id %}" title="Borrar"><i class="glyphicon glyphicon-trash"></i></a>
        </div>
      </div>
    </td>
  {% endfor %}
  </tbody>
</table>
{% endblock %}