{% extends "base/base.html" %}
{% block titulo %}Tareas{% endblock %}
{% block cuerpo %}
<br />
<h1><a href="{% url 'inicio:index' %}" class="regresar"><i class="fa fa-mail-reply fa-lg ollapsed"></i></a> Tareas</h1>
<br />
{% if request.user.is_superuser and request.user.is_staff and request.user.is_active %}
<div class="glyphicon-white">
  <a href="{% url 'registro:consultar_reporte' %}" class="enlace_boton_panel">
    <div align="center">
      <i class="glyphicon glyphicon-list glyphicon-icon"></i>
      Listar reportes
    </div>
  </a>
</div>
<br />
<div class="glyphicon-white">
  <a href="{% url 'registro:buscar' %}" class="enlace_boton_panel">
    <div align="center">
      <i class="glyphicon glyphicon-search glyphicon-icon"></i>
      Buscar reportes
    </div>
  </a>
</div>
{% else %}
  {% if request.user.is_staff and request.user.is_active %}
  <div class="glyphicon-white">
    <a href="{% url 'registro:consultar_reporte' %}" class="enlace_boton_panel">
      <div align="center">
        <i class="glyphicon glyphicon-list glyphicon-icon"></i>
        Listar reportes
      </div>
    </a>
  </div>
  <br />
  <div class="glyphicon-white">
    <a href="{% url 'registro:buscar' %}" class="enlace_boton_panel">
      <div align="center">
        <i class="glyphicon glyphicon-search glyphicon-icon"></i>
        Buscar reportes
      </div>
    </a>
  </div>
  {% else %}
    {% if request.user.is_active %}
    <div class="glyphicon-white">
      <a href="{% url 'registro:consultar_reporte' %}" class="enlace_boton_panel">
        <div align="center">
          <i class="glyphicon glyphicon-list glyphicon-icon"></i>
          Listar reportes
        </div>
      </a>
    </div>
    <br />
    <div class="glyphicon-white">
      <a href="{% url 'registro:buscar' %}" class="enlace_boton_panel">
        <div align="center">
          <i class="glyphicon glyphicon-search glyphicon-icon"></i>
          Buscar reportes
        </div>
      </a>
    </div>
    {% endif %}
  {% endif %}
{% endif %}
{% endblock %}