{% extends "base/base.html" %}
{% block titulo %}Reporte de actividades{% endblock %}
{% block cuerpo %}
<h1 class="color-white">Reporte de actividades</h1>
<br />
{% if request.user.is_superuser and request.user.is_staff and request.user.is_active %}
<div class="glyphicon-white">
  <a href="{% url 'registro:registrar_reporte' %}">
    <div align="center">
      <i class="glyphicon glyphicon-pencil glyphicon-pencil-icon glyphicon-pencil-white"></i>
      Registrar reporte
    </div>
  </a>
</div>
  <br />
{% else %}
  {% if request.user.is_staff and request.user.is_active %}
  {% else %}
    {% if request.user.is_active %}
      <a href="{% url 'registro:registrar_reporte' %}">
        <i class="glyphicon glyphicon-pencil"></i>
          &nbsp;Registrar reporte
      </a>
    {% else %}
    {% endif %}
  {% endif %}
{% endif %}
<a href="{% url 'registro:consultar_reporte' %}">
  <i class="glyphicon glyphicon-list"></i>
  &nbsp;Listar reportes
</a>
<br />
<a href="{% url 'registro:buscar' %}">
  <i class="glyphicon glyphicon-search"></i>
  &nbsp;Buscar reportes
</a>
{% endblock %}