{% extends "base/base.html" %}
{% block titulo %}Reporte de actividades{% endblock %}
{% block cuerpo %}
<h1 class="color-white">Reporte de actividades</h1>
<br />
{% if request.user.is_superuser and request.user.is_staff and request.user.is_active %}
<div class="glyphicon-white">
  <a href="{% url 'registro:registrar_reporte' %}">
    <div align="center">
      <i class="glyphicon glyphicon-pencil glyphicon-icon glyphicon-pencil-white"></i>
      Registrar reporte
    </div>
  </a>
</div>
<br />
{% else %}
  {% if request.user.is_staff and request.user.is_active %}
  {% else %}
    {% if request.user.is_active %}
      <div class="glyphicon-white">
        <a href="{% url 'registro:registrar_reporte' %}">
          <div align="center">
            <i class="glyphicon glyphicon-pencil glyphicon-icon glyphicon-pencil-white"></i>
            Registrar reporte
          </div>
        </a>
      </div>
    {% else %}
    {% endif %}
  {% endif %}
{% endif %}
<br />
<div class="glyphicon-white">
  <a href="{% url 'registro:consultar_reporte' %}">
    <div align="center">
      <i class="glyphicon glyphicon-list glyphicon-icon"></i>
      Listar reportes
    </div>
  </a>
</div>
<br />
<div class="glyphicon-white">
  <a href="{% url 'registro:buscar' %}">
    <div align="center">
      <i class="glyphicon glyphicon-search glyphicon-icon"></i>
      Buscar reportes
    </div>
  </a>
</div>
{% endblock %}