{% extends "base/base.html" %}
{% block titulo %}Actividades{% endblock %}
{% block cuerpo %}
<h1>Actividades</h1>
<br />
{% if request.user.is_superuser and request.user.is_staff and request.user.is_active %}
  <div class="glyphicon-white">
    <a href="{% url 'safet:consultar_reporte_avances' %}" class="enlace_boton_panel">
      <div align="center">
      <i class="glyphicon glyphicon-list glyphicon-icon"></i>
      Lista de productos
      </div>
    </a>
  </div>
  <br />
  <div class="glyphicon-white">
    <a href="{% url 'safet:consultar_reporte_avances_cv_por' %}" class="enlace_boton_panel">
      <div align="center">
      <i class="fa fa-line-chart"></i>
      Avance de los productos
      </div>
    </a>
  </div>
{% else %}
  {% if request.user.is_staff and request.user.is_active %}
    <div class="glyphicon-white">
      <a href="{% url 'safet:consultar_reporte_avances' %}" class="enlace_boton_panel">
        <div align="center">
        <i class="glyphicon glyphicon-list glyphicon-icon"></i>
        Lista de productos
        </div>
      </a>
    </div>
  {% else %}
    {% if request.user.is_active %}
      <div class="glyphicon-white">
        <a href="{% url 'safet:consultar_reporte_avances_cv' %}" class="enlace_boton_panel">
          <div align="center">
          <i class="glyphicon glyphicon-list glyphicon-icon"></i>
          Lista de productos
          </div>
        </a>
      </div>
    {% else %}
    {% endif %}
  {% endif %}
{% endif %}
{% endblock %}