{% extends "base/base.html" %}
{% block titulo %}Carga inicial{% endblock %}
{% block cuerpo %}
<h1 class="color-white">Carga inicial</h1>
<br />
{% if request.user.is_superuser and request.user.is_staff and request.user.is_active %}
  <div class="row">
    <div class="col-sm-2">
      <div class="glyphicon-white">
        <a href="{% url 'usuarios:list_users' %}">
          <div align="center">
            <i class="glyphicon glyphicon-list glyphicon-icon"></i>
            Usuarios
          </div>
        </a>
      </div>
      <br>
  {% if request.user.is_superuser %}
      <div class="glyphicon-white">
        <a href="{% url 'safet:consultar_proyecto' %}">
          <div align="center">
            <i class="glyphicon glyphicon-list glyphicon-icon"></i>
            Proyectos poa
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="glyphicon-white">
        <a href="{% url 'safet:consultar_accion' %}">
          <div align="center">
            <i class="glyphicon glyphicon-list glyphicon-icon"></i>
            Acciones específicas
          </div>
        </a>
      </div>
      <div class="glyphicon-white">
        <a href="{% url 'registro:consultar_proyecto' %}">
          <div align="center">
            <i class="glyphicon glyphicon-list glyphicon-icon"></i>
            Productos
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="glyphicon-white">
        <a href="{% url 'registro:consultar_cara_visible' %}">
          <div align="center">
            <i class="glyphicon glyphicon-list glyphicon-icon"></i>
            Caras visibles
          </div>
        </a>
      </div>
      <div class="glyphicon-white">
        <a href="{% url 'registro:consultar_director' %}">
          <div align="center">
            <i class="glyphicon glyphicon-list glyphicon-icon"></i>
            Directores
          </div>
        </a>
      </div>
    </div>  
    <div class="col-sm-2">
      <div class="glyphicon-white">
        <a href="{% url 'registro:consultar_cargo' %}">
          <div align="center">
            <i class="glyphicon glyphicon-list glyphicon-icon"></i>
            Cargos
          </div>
        </a>
      </div>
    </div>
  </div>
  <h2 class="color-white">Registrar reporte de avances</h2>
  <br>
  <div class="row">
    <div class="col-sm-2">
      <div class="glyphicon-white">
        <a href="{% url 'safet:registrar_reporte_avances' %}">
          <div align="center">
            <i class="glyphicon glyphicon-pencil glyphicon-icon glyphicon-pencil-white"></i>
            Genérico
          </div>
        </a>
      </div>
      <br>
      <div class="glyphicon-white">
        <a href="{% url 'safet:registrar_reporte_avances_software' %}">
          <div align="center">
            <i class="glyphicon glyphicon-pencil glyphicon-icon glyphicon-pencil-white"></i>
            Software
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="glyphicon-white">
        <a href="{% url 'safet:registrar_reporte_avances_cur_lin' %}">
          <div align="center">
            <i class="glyphicon glyphicon-pencil glyphicon-icon glyphicon-pencil-white"></i>
            Curso en Linea
          </div>
        </a>
      </div>
      <div class="glyphicon-white">
        <a href="{% url 'safet:registrar_reporte_avances_jornada' %}">
          <div align="center">
            <i class="glyphicon glyphicon-pencil glyphicon-icon glyphicon-pencil-white"></i>
            Jornada
          </div>
        </a>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="glyphicon-white">
        <a href="{% url 'safet:registrar_reporte_avances_publicacion' %}">
          <div align="center">
            <i class="glyphicon glyphicon-pencil glyphicon-icon glyphicon-pencil-white"></i>
            Publicacion
          </div>
        </a>
      </div>
    </div>
  </div>
  {% endif %}
{% endif %}
<!-- End Navbar class -->
{% endblock %}