{% extends "base/base.html" %}
{% block titulo %}Registrar proyecto poa{% endblock %}
{% block cuerpo %}
<br />
<h1>Registrar proyecto poa</h1>
<br />

<form method="post">{% csrf_token %}

  <div class="">
    <b>{{ form.nombre_proyecto.label }}</b>
    <br />
    {{ form.nombre_proyecto }}
    {% if form.nombre_proyecto.errors %}
      <p>{{ form.nombre_proyecto.errors}}</p>
    {% endif %}
  </div>

  <br />

  <a href="{% url 'safet:consultar_proyecto' %}"><button type="button" class="btn btn-primary">Volver</button></a>
  <button class="btn btn-info" type="reset">Limpiar</button>
  <button class="btn btn-success" type="submit">Registrar</button>
</form>
{% endblock %}