{% extends "base/base.html" %}
{% block titulo %}Borrar plan de actividades{% endblock %}
{% block cuerpo %}
<h1><a href="{% url 'safet:consultar_reporte_avances' %}" class="regresar"><i class="fa fa-mail-reply fa-lg ollapsed"></i></a> Borrar plan de actividades</h1>
<form method="post">{% csrf_token %}
  <h4>¿Está seguro que desea eliminar el plan de actividades de "{{ object.nombre_producto }}"?</h4>
  <br />
  <button class="btn btn-danger" type="submit">Borrar</button>
</form>
{% endblock %}