{% extends "base/base.html" %}
{% block titulo %}Plan de actividades{% endblock %}
{% block cuerpo %}
<br />
<h1><a href="{{ request.META.HTTP_REFERER }}" class="regresar"><i class="fa fa-mail-reply fa-lg ollapsed"></i></a> Plan de actividades de "{{ reporteavances.nombre_producto }}"</h1>
<br />
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <i class="fa fa-file-text-o color-blue-system"></i>
      <b>Nombre del proyecto poa</b>
    </h3>
  </div>
  <div class="panel-body">
    {{ reporteavances.nombre_proyecto_poa }}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <i class="fa fa-file-text-o color-blue-system"></i>
      <b>Nombre de la acción específica</b>
    </h3>
  </div>
  <div class="panel-body">
    {{ reporteavances.nombre_accion_especifica }}
  </div>
</div>

<div class="row">
  <div class="col-sm-6">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-file-text-o color-blue-system"></i>
          <b>Nombre del producto</b>
        </h3>
      </div>
      <div class="panel-body">
        {{ reporteavances.nombre_producto }}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-file-text-o color-blue-system"></i>
          <b>Nombre del director</b>
        </h3>
      </div>
      <div class="panel-body">
        {{ reporteavances.nombre_director }}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-calendar color-blue-system"></i>
          <b>Fecha de entrega</b>
        </h3>
      </div>
      <div class="panel-body">
        {{ reporteavances.fecha_entrega }}
      </div>
    </div>
    
  </div>

  <div class="col-sm-6">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-calendar color-blue-system"></i>
          <b>Año de ejecución</b>
        </h3>
      </div>
      <div class="panel-body">
        {{ reporteavances.ano_ejecucion }}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-file-text-o color-blue-system"></i>
          <b>Nombre del cara visible</b>
        </h3>
      </div>
      <div class="panel-body">
        {{ reporteavances.nombre_caravisible }}
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <i class="fa fa-group fa-group-small color-blue-system"></i>
          <b>Integrantes del equipo</b>
        </h3>
      </div>
      <div class="panel-body">
        {{ reporteavances.integrantes_equipo }}
      </div>
    </div>

  </div>
</div>

<h3>Lista de actividades</h3>

<table class="tabla_trabajadores" border="1px" style="width:100%">
  <thead>
    <tr class="text-center">
      <th class="text-center"><b>N</b></th>
      <th class="text-center"><b>Actividad</b></th>
      <th class="text-center"><b>Responsable</b></th>
      <th class="text-center"><b>Fecha de entrega</b></th>
      <th class="text-center"><b>(%) Asignado</b></th>
      <th class="text-center"><b>(%) Avance</b></th>
      <th class="text-center"><b>Enlace de verificación</b></th>
    </tr>
  </thead>
  <tbody>
    {% if reporteavances.nombre_act_1 %}
    <tr class="text-center">
      <td>1</td>
      <td class="text-left">
        {{ reporteavances.nombre_act_1 }}
      </td>
      <td>
        {{ reporteavances.resp_act_1 }}
      </td>
      <td>
        {{ reporteavances.fecha_entrega_act_1 }}
      </td>
      <td>
        {{ reporteavances.porc_act_1 }}
      </td>
      <td>
        {{ reporteavances.porc_avan_act_1 }}
      </td>
      <td class="area_enlaces">
        {{ reporteavances.enlace_ver_act_1 }}
      </td>
    </tr>
    {% endif %}
    {% if reporteavances.nombre_act_2 %}
    <tr class="text-center">
      <td>2</td>
      <td class="text-left">
        {{ reporteavances.nombre_act_2 }}
      </td>
      <td>
        {{ reporteavances.resp_act_2 }}
      </td>
      <td>
        {{ reporteavances.fecha_entrega_act_2 }}
      </td>
      <td>
        {{ reporteavances.porc_act_2 }}
      </td>
      <td>
        {{ reporteavances.porc_avan_act_2 }}
      </td>
      <td class="area_enlaces">
        {{ reporteavances.enlace_ver_act_2 }}
      </td>
    </tr>
    {% endif %}
    {% if reporteavances.nombre_act_3 %}
    <tr class="text-center">
      <td>3</td>
      <td class="text-left">
        {{ reporteavances.nombre_act_3 }}
      </td>
      <td>
        {{ reporteavances.resp_act_3 }}
      </td>
      <td>
        {{ reporteavances.fecha_entrega_act_3 }}
      </td>
      <td>
        {{ reporteavances.porc_act_3 }}
      </td>
      <td>
        {{ reporteavances.porc_avan_act_3 }}
      </td>
      <td class="area_enlaces">
        {{ reporteavances.enlace_ver_act_3 }}
      </td>
    </tr>
    {% endif %}
    {% if reporteavances.nombre_act_4 %}
    <tr class="text-center">
      <td>4</td>
      <td class="text-left">
        {{ reporteavances.nombre_act_4 }}
      </td>
      <td>
        {{ reporteavances.resp_act_4 }}
      </td>
      <td>
        {{ reporteavances.fecha_entrega_act_4 }}
      </td>
      <td>
        {{ reporteavances.porc_act_4 }}
      </td>
      <td>
        {{ reporteavances.porc_avan_act_4 }}
      </td>
      <td class="area_enlaces">
        {{ reporteavances.enlace_ver_act_4 }}
      </td>
    </tr>
    {% endif %}
    {% if reporteavances.nombre_act_5 %}
    <tr class="text-center">
      <td>5</td>
      <td class="text-left">
        {{ reporteavances.nombre_act_5 }}
      </td>
      <td>
        {{ reporteavances.resp_act_5 }}
      </td>
      <td>
        {{ reporteavances.fecha_entrega_act_5 }}
      </td>
      <td>
        {{ reporteavances.porc_act_5 }}
      </td>
      <td>
        {{ reporteavances.porc_avan_act_5 }}
      </td>
      <td class="area_enlaces">
        {{ reporteavances.enlace_ver_act_5 }}
      </td>
    </tr>
    {% endif %}
    {% if reporteavances.nombre_act_6 %}
    <tr class="text-center">
      <td>6</td>
      <td class="text-left">
        {{ reporteavances.nombre_act_6 }}
      </td>
      <td>
        {{ reporteavances.resp_act_6 }}
      </td>
      <td>
        {{ reporteavances.fecha_entrega_act_6 }}
      </td>
      <td>
        {{ reporteavances.porc_act_6 }}
      </td>
      <td>
        {{ reporteavances.porc_avan_act_6 }}
      </td>
      <td class="area_enlaces">
        {{ reporteavances.enlace_ver_act_6 }}
      </td>
    </tr>
    {% endif %}
    {% if reporteavances.nombre_act_7 %}
    <tr class="text-center">
      <td>7</td>
      <td class="text-left">
        {{ reporteavances.nombre_act_7 }}
      </td>
      <td>
        {{ reporteavances.resp_act_7 }}
      </td>
      <td>
        {{ reporteavances.fecha_entrega_act_7 }}
      </td>
      <td>
        {{ reporteavances.porc_act_7 }}
      </td>
      <td>
        {{ reporteavances.porc_avan_act_7 }}
      </td>
      <td class="area_enlaces">
        {{ reporteavances.enlace_ver_act_7 }}
      </td>
    </tr>
    {% endif %}
    {% if reporteavances.nombre_act_8 %}
    <tr class="text-center">
      <td>8</td>
      <td class="text-left">
        {{ reporteavances.nombre_act_8 }}
      </td>
      <td>
        {{ reporteavances.resp_act_8 }}
      </td>
      <td>
        {{ reporteavances.fecha_entrega_act_8 }}
      </td>
      <td>
        {{ reporteavances.porc_act_8 }}
      </td>
      <td>
        {{ reporteavances.porc_avan_act_8 }}
      </td>
      <td class="area_enlaces">
        {{ reporteavances.enlace_ver_act_8 }}
      </td>
    </tr>
    {% endif %}
    {% if reporteavances.nombre_act_9 %}
    <tr class="text-center">
      <td>9</td>
      <td class="text-left">
        {{ reporteavances.nombre_act_9 }}
      </td>
      <td>
        {{ reporteavances.resp_act_9 }}
      </td>
      <td>
        {{ reporteavances.fecha_entrega_act_9 }}
      </td>
      <td>
        {{ reporteavances.porc_act_9 }}
      </td>
      <td>
        {{ reporteavances.porc_avan_act_9 }}
      </td>
      <td class="area_enlaces">
        {{ reporteavances.enlace_ver_act_9 }}
      </td>
    </tr>
    {% endif %}
    {% if reporteavances.nombre_act_10 %}
    <tr class="text-center">
      <td>10</td>
      <td class="text-left">
        {{ reporteavances.nombre_act_10 }}
      </td>
      <td>
        {{ reporteavances.resp_act_10 }}
      </td>
      <td>
        {{ reporteavances.fecha_entrega_act_10 }}
      </td>
      <td>
        {{ reporteavances.porc_act_10 }}
      </td>
      <td>
        {{ reporteavances.porc_avan_act_10 }}
      </td>
      <td class="area_enlaces">
        {{ reporteavances.enlace_ver_act_10 }}
      </td>
    </tr>
    {% endif %}
    {% if reporteavances.nombre_act_11 %}
    <tr class="text-center">
      <td>11</td>
      <td class="text-left">
        {{ reporteavances.nombre_act_11 }}
      </td>
      <td>
        {{ reporteavances.resp_act_11 }}
      </td>
      <td>
        {{ reporteavances.fecha_entrega_act_11 }}
      </td>
      <td>
        {{ reporteavances.porc_act_11 }}
      </td>
      <td>
        {{ reporteavances.porc_avan_act_11 }}
      </td>
      <td class="area_enlaces">
        {{ reporteavances.enlace_ver_act_11 }}
      </td>
    </tr>
    {% endif %}
    {% if reporteavances.nombre_act_12 %}
    <tr class="text-center">
      <td>12</td>
      <td class="text-left">
        {{ reporteavances.nombre_act_12 }}
      </td>
      <td>
        {{ reporteavances.resp_act_12 }}
      </td>
      <td>
        {{ reporteavances.fecha_entrega_act_12 }}
      </td>
      <td>
        {{ reporteavances.porc_act_12 }}
      </td>
      <td>
        {{ reporteavances.porc_avan_act_12 }}
      </td>
      <td class="area_enlaces">
        {{ reporteavances.enlace_ver_act_12 }}
      </td>
    </tr>
    {% endif %}
    {% if reporteavances.nombre_act_13 %}
    <tr class="text-center">
      <td>13</td>
      <td class="text-left">
        {{ reporteavances.nombre_act_13 }}
      </td>
      <td>
        {{ reporteavances.resp_act_13 }}
      </td>
      <td>
        {{ reporteavances.fecha_entrega_act_13 }}
      </td>
      <td>
        {{ reporteavances.porc_act_13 }}
      </td>
      <td>
        {{ reporteavances.porc_avan_act_13 }}
      </td>
      <td class="area_enlaces">
        {{ reporteavances.enlace_ver_act_13 }}
      </td>
    </tr>
    {% endif %}
    {% if reporteavances.nombre_act_14 %}
    <tr class="text-center">
      <td>14</td>
      <td class="text-left">
        {{ reporteavances.nombre_act_14 }}
      </td>
      <td>
        {{ reporteavances.resp_act_14 }}
      </td>
      <td>
        {{ reporteavances.fecha_entrega_act_14 }}
      </td>
      <td>
        {{ reporteavances.porc_act_14 }}
      </td>
      <td>
        {{ reporteavances.porc_avan_act_14 }}
      </td>
      <td class="area_enlaces">
        {{ reporteavances.enlace_ver_act_14 }}
      </td>
    </tr>
    {% endif %}
    {% if reporteavances.nombre_act_15 %}
    <tr class="text-center">
      <td>15</td>
      <td class="text-left">
        {{ reporteavances.nombre_act_15 }}
      </td>
      <td>
        {{ reporteavances.resp_act_15 }}
      </td>
      <td>
        {{ reporteavances.fecha_entrega_act_15 }}
      </td>
      <td>
        {{ reporteavances.porc_act_15 }}
      </td>
      <td>
        {{ reporteavances.porc_avan_act_15 }}
      </td>
      <td class="area_enlaces">
        {{ reporteavances.enlace_ver_act_15 }}
      </td>
    </tr>
    {% endif %}
  </tbody>
    <tr class="text-center">
      <td><b>Total</b></td>
      <td>
      </td>
      <td>
      </td>
      <td>
      </td>
      <td class="suma">
      </td>
      <td>
        {{ reporteavances.sumatoria_por_avan }} %
      </td>
      <td>
      </td>
    </tr>
</table>
<br />
<div class="row">
  <div class="col-sm-4">
    <div class="texto_enlace_busqueda text-right">
      <b>{{ reporteavances.nombre_producto }}</b>
    </div>
    <br />
  </div>
  <div class="col-sm-4">
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ reporteavances.sumatoria_por_avan }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ reporteavances.sumatoria_por_avan }}%;">
        {{ reporteavances.sumatoria_por_avan }} %
      </div>
    </div>
  </div>
  <div class="col-sm-4">
  </div>
</div>
<script type="text/javascript">
$("document").ready(function (){
  /*
  |-------------------------------------------------------------
  | Función que permite sumar los porcentajes de las actividades
  | e imprimir el valor en el dom.
  |-------------------------------------------------------------
  */
  var Lista = new Array; 
  Lista.push({{ reporteavances.porc_act_1 }});
  Lista.push({{ reporteavances.porc_act_2 }});
  Lista.push({{ reporteavances.porc_act_3 }});
  Lista.push({{ reporteavances.porc_act_4 }});
  Lista.push({{ reporteavances.porc_act_5 }});
  Lista.push({{ reporteavances.porc_act_6 }});
  Lista.push({{ reporteavances.porc_act_7 }});
  Lista.push({{ reporteavances.porc_act_8 }});
  Lista.push({{ reporteavances.porc_act_9 }});
  Lista.push({{ reporteavances.porc_act_10 }});
  Lista.push({{ reporteavances.porc_act_11 }});
  Lista.push({{ reporteavances.porc_act_12 }});
  Lista.push({{ reporteavances.porc_act_13 }});
  Lista.push({{ reporteavances.porc_act_14 }});
  Lista.push({{ reporteavances.porc_act_15 }});
  var contador = 0;
  for (var i=0; i<Lista.length; i++){  
    contador=contador+Lista[i];
  }
  if (contador <= 100) {
    suma_porc_act = contador;
    $(".suma").html(suma_porc_act+" %");
  }
});
</script>
{% endblock %}