{% extends "base/base.html" %}
{% block titulo %}Reporte gráfico de (%){% endblock %}
{% block cuerpo %}
<br />
<h1 class="color-white">Reporte de porcentajes de avance de los productos</h1>
<br />
<form action="{% url 'safet:busqueda' %}" method="get">
  <label>Buscar productos por año</label>
  <br />
  <select class="form form-control" name="ano" required>
    <option value="2019">2019</option>
  </select>
  <button class="btn btn-success" type="submit">Buscar</button>
</form>
<br />

{% if reportes %}
<!-- Well class
================================================== -->
<div class="well-white">
  <h3 class="text-right"><b>Fecha: {{ fecha_humana }}</b></h3>
  <h2 class="text-center">Reporte de porcentajes de avance de los productos</h2>
  <br />
  {% for x in reportes %}
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-4">
      <div class="texto_enlace_busqueda text-right">
        <a href="{% url 'safet:detallar_reporte_avances' x.id %}">
          <b>{{ x.nombre_producto }}</b>
        </a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ x.sumatoria_por_avan }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ x.sumatoria_por_avan }}%;">
          {{ x.sumatoria_por_avan }} %
        </div>
      </div>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
  {% endfor %}
</div>
<!-- End well -->
{% else %}
  <br />
  <b>No se encontraron productos</b>
{% endif %}
{% endblock %}