{% extends "base/base.html" %}
{% block titulo %}Lista de Reportes de Avances{% endblock %}
{% block cuerpo %}
<br />
<h1>Lista de Reportes de Avances</h1>
<br />

<table border="1px" id="example" class="display" cellspacing="0px" style="width:100%;">
  <thead>
    <tr>
      <th>N</th>
      <th>Nombre del Producto</th>
      <th>Nombre del Cara Visible</th>
      <th>Año de Ejecución</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>N</th>
      <th>Nombre del Producto</th>
      <th>Nombre del Cara Visible</th>
      <th>Año de Ejecución</th>
      <th>Acciones</th>
    </tr>
  </tfoot>
  <tbody>
  {% for x in object_list %}
  <tr>
    <td></td>
    <td>{{ x.nombre_producto }}</td>
    <td>{{ x.nombre_caravisible }}</td>
    <td>{{ x.ano_ejecucion }}</td>
    {% if user.is_staff %}
      <td>
        <a href="{% url 'safet:editar_reporte_avances' x.id %}" title="Editar">
          <i class="glyphicon glyphicon-pencil"></i>
        </a>
        &nbsp; | &nbsp;
        <a href="{% url 'safet:detallar_reporte_avances' x.id %}" title="Detallar">
          <i class="glyphicon glyphicon-eye-open"></i>
        </a>
      </td>
    {% endif %}
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}