{% extends "base/base.html" %}
{% block titulo %}Lista de reportes de avances{% endblock %}
{% block cuerpo %}
<br />
<h1 class="color-white">Lista de reportes de avances</h1>
<br />
<table border="1px" id="example" class="display" cellspacing="0px" style="width:100%;">
  <thead>
    <tr>
      <th>N</th>
      <th>Nombre del producto</th>
      <th>Tipo de producto</th>
      <th>Nombre del cara visible</th>
      <th>Año de ejecución</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>N</th>
      <th>Nombre del producto</th>
      <th>Tipo de producto</th>
      <th>Nombre del cara visible</th>
      <th>Año de ejecución</th>
      <th>Acciones</th>
    </tr>
  </tfoot>
  <tbody>
  {% for x in object_list %}
  <tr>
    <td></td>
    <td>{{ x.nombre_producto }}</td>
    <td>{{ x.tipo_producto }}</td>
    <td>{{ x.nombre_caravisible }}</td>
    <td>{{ x.ano_ejecucion }}</td>
    {% if user.is_staff %}
      <td>
        <a href="{% url 'safet:detallar_reporte_avances' x.id %}" title="Detallar">
          <i class="glyphicon glyphicon-eye-open"></i>
        </a>
      </td>
    {% else %}
      {% if x.autor == user.username %}
        <td>
          <a href="{% url 'safet:editar_reporte_avances_cv' x.id %}" title="Editar">
            <i class="glyphicon glyphicon-pencil"></i>
          </a>
          &nbsp; | &nbsp;
          <a href="{% url 'safet:detallar_reporte_avances' x.id %}" title="Detallar">
            <i class="glyphicon glyphicon-eye-open"></i>
          </a>
        </td>
      {% else %}
        <td>&nbsp;</td>
      {% endif %}
    {% endif %}
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}