{% extends "base/base.html" %}
{% block titulo %}Reporte gráfico de (%){% endblock %}
{% block cuerpo %}
<br />
<h1><a href="{% url 'safet:consultar_reporte_avances' %}" class="regresar"><i class="fa fa-mail-reply fa-lg ollapsed"></i></a> Reporte de (%) de avance de los productos </h1>
<br />
<div class="row">
  <div class="col-sm-4">
    <form action="{% url 'safet:busqueda' %}" method="get">
      <i class="fa fa-search color-blue-system"></i>
      <label>Buscar productos por año</label>
      <br />
      <select class="form form-control" name="ano" required>
        <option value="2021">2021</option>
        <option value="2020">2020</option>
        <option value="2019">2019</option>
      </select>
      <button class="btn btn-success" type="submit">BUSCAR</button>
    </form>
  </div>
  <div class="col-sm-4"></div>
  <div class="col-sm-4"></div>
</div>
<br />
{% if reportes %}
<div class="well-white">
  <h4 class="text-right"><b>Fecha: {{ fecha_humana }}</b></h4>
  <h2 class="text-center">
    <i class="fa fa-line-chart"></i>
    Reporte de (%) de avance de los productos del {{ ano }}
  </h2>
  <br />
  {% for x in reportes %}
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-sm-4">
      <div class="texto_enlace_busqueda text-right">
        <a href="{% url 'safet:detallar_reporte_avances' x.id %}">
          <b>{{ x.nombre_producto }}</b>
        </a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ x.sumatoria_por_avan }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ x.sumatoria_por_avan }}%;">
          {{ x.sumatoria_por_avan }} %
        </div>
      </div>
    </div>
    <div class="col-sm-4">
    </div>
  </div>
  <br />
  {% endfor %}
</div>
{% else %}
<br />
<b>No se encontraron productos</b>
{% endif %}
{% endblock %}