@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.ttf");
}
body {
  font-family: "OpenSans-Regular", sans-serif;
  padding-top: 70px;
  padding-bottom: 30px;
  background: #aaaebc;
  /*background-image: url("../img/intro.svg") !important;*/
  /*background: url("../img/bg.jpg") no-repeat center center fixed;*/
  background: url("../img/bg.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}
.theme-showcase > p > .btn {
  margin: 5px 0;
}
.theme-showcase .navbar .container {
  width: auto;
}
.left-column {
  background-color: rgba(41, 41, 41, 0.29);
  /*filter: blur(1px);*/
  /*padding-left: 10px;*/
  min-height: 1000px;
  margin-top: -20px;
  position: fixed;
  /*border: ridge 1px red;*/
  margin-left: 14px;
  width: 70px;
}
.right-column {
  /*margin-top: -72px;*/
  /*background-color: #343a40 !important;*/
  margin-top: -20px;
  margin-left: 90px;
  /*border: ridge 1px blue;*/
  
}
.cuerpo {
  min-height: 600px;
  /*border: ridge 1px blue;*/
}
table thead th {
  background: gray;
  /*color: #ffffff;*/
}
table tfoot th {
  background: gray;
  /*color: #ffffff;*/
}
ul.errorlist {
  border-left: 4px solid red !important;
  border: ridge 1px #ff5100;
  background: #ffafaf;
  border-radius: 3px;
  list-style: none outside none;
}
.alert.alert-success {
  border-left: 4px solid green !important;
}
.notificacion-emergente {
  margin-top: -12px;
  position: absolute;
  width: 95%;
}
#id_organizacion {
  min-width: 0;
  width: 100%;
  display: inline;
}
.form-control {
  margin-bottom: 25px !important;
}
.dt-buttons {
  margin-top: 40px;
}
.navbar {
  /*border: ridge 1px red !important;*/
}
.navbar-fixed-edit {
  background-color: rgba(41, 41, 41, 0.29) !important;*/
  /*filter: blur(1px);*/
  border: none !important;
  /*margin-top: -69px;
  width: 99%;*/
}
.navbar-background {
  background-color: rgba(41, 41, 41, 0.29) !important;*/
  border: none !important;
}
.navbar.navbar-default {
  background-image: -webkit-linear-gradient(top, #fff 0%, #f8f8f8 100%);
  background-image: -o-linear-gradient(top, #fff 0%, #f8f8f8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FFFFFF));
  background-image: linear-gradient(to bottom, #fff 0%, #fff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff8f8f8', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-radius: 4px;
}
.navbar-cintillo {
  background: #275a9b !important;
  border-radius: 0px !important;
  border: none;
  -webkit-box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);
}
.well {
  /*background: #FFFFFF;*/
  background: rgba(41, 41, 41, 0.29);
  border: none !important;
  border-radius: 0px !important;
  -webkit-box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);
}
.well-white {
  background: #FFFFFF;
  border: none !important;
  border-radius: 0px !important;
  -webkit-box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);
  padding: 20px;
}
.well-footer {
  background: #275a9b;
  border-radius: 0px !important;
}
.well-footer a{
  color: #FFFFFF;
}
.banner_principal {
  -webkit-box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);
}
.well-form {
  background: #eee;
}
.jumbotron {
  background: #d9edf7;
  border-radius: 0px !important;
  -webkit-box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);
}
/* Navbar inverse */
.navbar-inverse {
  background-color: #275a9b;
  border: none;
  border-radius: 0px;
  /*
  -webkit-box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 3px 0px rgba(0,0,0,0.75);*/
}
.navbar-inverse .navbar-brand {
  color: #FFFFFF;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse .navbar-text {
  color: #FFFFFF;
}
.navbar-inverse .navbar-nav > li > a {
  color: #FFFFFF;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #080808;
}
.navbar-inverse .navbar-nav > .disabled > a,
.navbar-inverse .navbar-nav > .disabled > a:hover,
.navbar-inverse .navbar-nav > .disabled > a:focus {
  color: #444;
  background-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border-color: #333;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #333;
}
.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: #FFFFFF;
}
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: gray;
}
@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #FFFFFF;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #9d9d9d;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #080808;
  }
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
.navbar-inverse .navbar-link {
  color: #9d9d9d;
}
.navbar-inverse .navbar-link:hover {
  color: #fff;
}
.navbar-inverse .btn-link {
  color: #9d9d9d;
}
.navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link:focus {
  color: #fff;
}
.navbar-inverse .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse .btn-link:hover,
.navbar-inverse .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse .btn-link:focus {
  color: #444;
}
.navbar-inverse {
  margin-left: 0px;
  margin-right: 0px;
}
panel-default > .panel-heading {
  /*color: #FFFFFF;
  background-color: #275a9b;*/
  border-color: #ddd;
}
.col-sm-3 {
  border: ridge 1px lightgray;
}

.tabla_trabajadores {
  background: #FFFFFF;
}
.tabla_trabajadores, th, td {
  border: 1px solid lightgray;
}
.tabla_trabajadores th{
  padding: 15px;
  text-align: center;
  background-color: #ececec;
  color: #000000;
}
.tabla_trabajadores td {
  padding: 10px;
}
#id_autor {
  display: none;
}
#id_fecha_registro_reporte {
  display: none;
}
.reg {
  background: #b9ffb9;
}
.del {
  background: #ffbebe;
}
.bit_usuario {
  background: #f0f0f0;
}
.bit_fecha {
  background: #f0f0f0;
}
.td_si {
  background: #b9ffb9;
}
.td_no {
  background: #ffb9b9;
}
table.table_change_password td {
  text-align: right;
  border: none !important;
  padding-bottom: 15px;
}
.container-all {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.disabled-input {
  background: lightgray;
}
.progress-bar {
  color: #000000 !important;
}
.texto_enlace_busqueda {
  font-size: 12px !important;
}
.progress {
  height: 20px;
  margin-bottom: 0px;
  padding: 0px !important;
  background-color: #f5f5f5;
  /*border: ridge 1px red;*/
}
.panel-group .panel-heading {
  border-bottom: 0;
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}
.fa-home {
  font-size: 30px !important;
}
.fa-file-text {
  font-size: 30px !important;
}
.fa-sign-out-salir {
  font-size: 30px !important;
}
.fa-tasks {
  font-size: 30px !important;
}
.fa-line-chart {
  font-size: 30px !important;
}
.fa-book {
  font-size: 30px !important;
}
.color-white {
  color: #FFFFFF;
}
.color-blackk {
  color: #000000;
}
.text-welcome {
  font-size: 50px;
}
.row {
  margin-right: 0px;
  /*width: 100%;*/
  /*border: ridge 1px red;*/
}
.col-sm-1 {
  /*border: ridge 1px blue;*/
}
.col-sm-11 {
  /*border: ridge 1px green;*/
}
.dropdown-margin {
  margin-right: 10px;
}
.glyphicon-pencil {
  color: gray;
}
.glyphicon-edit {
  color: gray;
}
.glyphicon-trash {
  color: gray;
}
.glyphicon-eye-open {
  color: gray;
}
.glyphicon-white {
  padding: 20px;
  width: 100px;
}
.glyphicon-icon {
  font-size: 30px;
}
.glyphicon-white a {
  color: #FFFFFF !important;
}
.glyphicon-pencil-white {
  color: #FFFFFF;
}