{% extends "base/base.html" %}
{% block titulo %}Bitácora{% endblock %}
{% block cuerpo %}
{% load staticfiles %}
<h1 class="color-white"><a href="{% url 'inicio:index' %}" class="regresar"><i class="fa fa-mail-reply fa-lg ollapsed"></i></a> Bitácora de eventos</h1>
<br />
<table border="1px" id="examplee" class="display" cellspacing="0px" style="width:100%;">
  <thead>
    <tr>
      <th>N</th>
      <th>Usuario</th>
      <th>Evento</th>
      <th>Fecha y hora</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>N</th>
      <th>Usuario</th>
      <th>Evento</th>
      <th>Fecha y hora</th>
    </tr>
  </tfoot>
  <tbody>
  {% for x in object_list %}
  <tr>
    <td class="bit_usuario">{{ x.id }}</td>
    <td class="bit_usuario">{{ x.usuario }}</td>
    <td class="reg">{{ x.accion }}</td>
    <td class="bit_fecha">{{ x.fecha }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}