{% extends "base/base.html" %}
{% block titulo %}Bitácora{% endblock %}
{% block cuerpo %}
{% load staticfiles %}
<br />
<h1>Lista de eventos de la Bitácora</h1>
<br />

<table border="1px" id="examplee" class="display" cellspacing="0px" style="width:100%;">
  <thead>
    <tr>
      <th>N</th>
      <th>Usuario</th>
      <th>Evento</th>
      <th>Fecha y hora</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>N</th>
      <th>Usuario</th>
      <th>Evento</th>
      <th>Fecha y hora</th>
    </tr>
  </tfoot>
  <tbody>
  {% for x in object_list %}
  <tr>
    <td>{{ x.id }}</td>
    <td>{{ x.usuario }}</td>
    <td>{{ x.accion }}</td>
    <td>{{ x.fecha }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}