{% extends "base/base.html" %}
{% block titulo %}Buscar reportes de tareas{% endblock %}
{% block cuerpo %}
<br />
{% if user.is_superuser and user.is_staff and user.is_active %}
  <h1><a href="{% url 'inicio:index' %}" class="regresar"><i class="fa fa-mail-reply fa-lg ollapsed"></i></a>Gestión de tareas</h1>
  <br />
  <a href="{% url 'registro:registrar_reporte' %}">
    <button class="btn btn-success">REGISTRAR</button>
  </a>
  <br>
  <hr>
  <h2>Buscar reporte de tareas</h2>
{% else %}
  {% if user.is_staff and user.is_active %}
    <h1><a href="{% url 'inicio:index' %}" class="regresar"><i class="fa fa-mail-reply fa-lg ollapsed"></i></a>Buscar reporte de tareas</h1>
  {% else %}
    {% if user.is_active %}
      <h1><a href="{% url 'inicio:index' %}" class="regresar"><i class="fa fa-mail-reply fa-lg ollapsed"></i></a>Gestión de tareas</h1>
      <br />
      <a href="{% url 'registro:registrar_reporte' %}">
        <button class="btn btn-success">REGISTRAR</button>
      </a>
      <br>
      <hr>
      <h2>Buscar reporte de tareas</h2>
    {% else %}
      xxx
    {% endif %}
  {% endif %}
{% endif %}
<br />
<form action="{% url 'registro:busqueda' %}" method="get">
<div class="row">
  <div class="col-sm-4">
    <i class="fa fa-search color-blue-system"></i>
    <label>Por año</label>
    <br />
    <select class="form form-control" name="ano" required>
      <option value="Todos">Todos</option>
      <option value="2020">2020</option>
      <option value="2019">2019</option>
      <option value="2018">2018</option>
    </select>
    <i class="fa fa-search color-blue-system"></i>
    <label>Por mes</label>
    <br />
    <select class="form form-control" name="mes" required>
      <option value="Todos">Todos</option>
      <option value="Enero">Enero</option>
      <option value="Febrero">Febrero</option>
      <option value="Marzo">Marzo</option>
      <option value="Abril">Abril</option>
      <option value="Mayo">Mayo</option>
      <option value="Junio">Junio</option>
      <option value="Julio">Julio</option>
      <option value="Agosto">Agosto</option>
      <option value="Septiembre">Septiembre</option>
      <option value="Octubre">Octubre</option>
      <option value="Noviembre">Noviembre</option>
      <option value="Diciembre">Diciembre</option>
    </select>
  </div>
</div>
<button class="btn btn-success" type="submit">BUSCAR</button>
</form>
{% endblock %}
