{% extends "base/base.html" %}
{% block titulo %}Resultados de la búsqueda{% endblock %}
{% block cuerpo %}
<br />
<h1 class="color-white"><a href="javascript:window.history.go(-1);" class="regresar"><i class="fa fa-mail-reply fa-lg ollapsed"></i></a> Resultados de la búsqueda</h1>
<br />
{% if reportes %}
  <p>Estas buscado reportes del Año <strong>{{ query }}</strong> en el Mes de <strong>{{ query2}}</strong></p>
  <p>Reportes encontrados: <strong>{{ reportes|length }}</strong>
  <br />
  <br />
  <table border="1px" id="example" class="display" cellspacing="0px" style="width:100%;">
    <thead>
      <tr>
        <th>N</th>
        <th>Producto</th>
        <th>Cara visible</th>
        <th>Mes</th>
        <th>Año</th>
        <th>Registrado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th>N</th>
        <th>Producto</th>
        <th>Cara visible</th>
        <th>Mes</th>
        <th>Año</th>
        <th>Registrado</th>
        <th>Acciones</th>
      </tr>
    </tfoot>
    <tbody>
    {% for x in reportes %}
    <tr>
      <td></td>
      <td>{{ x.nombre_proyecto }}</td>
      <td>{{ x.nombre_caravisible }}</td>
      <td>{{ x.mes }}</td>
      <td>{{ x.ano }}</td>
      <td>{{ x.fecha_registro_reporte }}</td>
      {% if request.user.is_superuser %}
      <td class="text-center td_botonera_tabla">
        <div class="row">
          <div class="col-sm-12">
            <a href="{% url 'registro:editar_reporte_analista' x.id %}" title="Editar"><i class="glyphicon glyphicon-pencil"></i></a>
            <a href="{% url 'registro:detallar_reporte' x.id %}" title="Detallar"><i class="glyphicon glyphicon-eye-open"></i></a>
            <a href="{% url 'registro:borrar_reporte' x.id %}" title="Borrar"><i class="glyphicon glyphicon-trash"></i></a>
          </div>
        </div>
      </td>
      {% else %}
        {% if x.autor == request.user.username %}
          <td class="text-center td_botonera_tabla">
            <div class="row">
              <div class="col-sm-12">
                <a href="{% url 'registro:editar_reporte' x.id %}" title="Editar"><i class="glyphicon glyphicon-pencil"></i></a>
                <a href="{% url 'registro:detallar_reporte' x.id %}" title="Detallar"><i class="glyphicon glyphicon-eye-open"></i></a>
              </div>
            </div>
          </td>
        {% else %}
          {% if request.user.is_staff %}
            <td class="text-center td_botonera_tabla">
              <a href="{% url 'registro:detallar_reporte' x.id %}" title="Detallar"><i class="glyphicon glyphicon-eye-open"></i></a>
            </td>
          {% else %}
            <td></td>
          {% endif %}
        {% endif %}
      {% endif %}
    </tr>
    {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>Ningún reporte coincide con el criterio de búsqueda.</p>
  <br />
  <a href="{% url 'registro:buscar' %}"><button type="button" class="btn btn-primary">Buscar de nuevo</button></a>
{% endif %}
{% endblock %}