{% extends "base/base.html" %}
{% block titulo %}Lista de caras visibles{% endblock %}
{% block cuerpo %}
<br />
<h1 class="color-white">Lista de caras visibles</h1>
<br />
<a href="{% url 'registro:registrar_cara_visible' %}">
  <button class="btn btn-success">Registrar cara visible</button>
</a>
<br />
<br />
<table border="1px" id="example" class="display">
  <thead>
    <tr>
      <th>N</th>
      <th>Nombre del cara visible</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th>N</th>
      <th>Nombre del cara visible</th>
      <th>Acciones</th>
    </tr>
  </tfoot>
  <tbody>
  {% for x in object_list %}
  <tr>
    <td></td>
    <td>{{ x.nombre_caravisible }}</td>
    <td class="text-center td_botonera_tabla">
    <div class="row">
      <div class="col-sm-12">
        <a href="{% url 'registro:editar_cara_visible' x.id %}" title="Editar"><i class="glyphicon glyphicon-pencil"></i></a>
        <a href="{% url 'registro:borrar_cara_visible' x.id %}" title="Borrar"><i class="glyphicon glyphicon-trash"></i></a>
      </div>
    </div>
    </td>
  {% endfor %}
  </tbody>
</table>
{% endblock %}