{% extends "base/base.html" %}
{% block titulo %}Registrar cara visible{% endblock %}
{% block cuerpo %}
<br />
<h1><a href="{% url 'registro:consultar_cara_visible' %}" class="regresar"><i class="fa fa-mail-reply fa-lg ollapsed"></i></a> Registrar cara visible</h1>
<br />
<div class="row">
  <div class="col-sm-6">
    <form method="post">{% csrf_token %}
      <div class="">
        <b>{{ form.nombre_caravisible.label }}</b>
        <br />
        {{ form.nombre_caravisible }}
        {% if form.nombre_caravisible.errors %}
          <p>{{ form.nombre_caravisible.errors}}</p>
        {% endif %}
      </div>
      <button class="btn btn-success" type="submit">REGISTRAR</button>
    </form>
  </div>
  <div class="col-sm-6"></div>
</div>
{% endblock %}