{% extends "base/base.html" %}
{% block titulo %}Registrar cargo{% endblock %}
{% block cuerpo %}
<br />
<h1><a href="{% url 'registro:consultar_cargo' %}" class="regresar"><i class="fa fa-mail-reply fa-lg ollapsed"></i></a> Registrar cargo</h1>
<br />
<form method="post">{% csrf_token %}
  <div class="">
    <b>{{ form.nombre_cargo.label }}</b>
    <br />
    {{ form.nombre_cargo }}
    {% if form.nombre_cargo.errors %}
      <p>{{ form.nombre_cargo.errors}}</p>
    {% endif %}
  </div>
  <button class="btn btn-success" type="submit">REGISTRAR</button>
</form>
{% endblock %}