{% extends "base/base.html" %}
{% block titulo %}Registrar director{% endblock %}
{% block cuerpo %}
<br />
<h1 class="color-white">Registrar director</h1>
<br />
<form method="post">{% csrf_token %}

  <div class="">
    <b>{{ form.nombre_director.label }}</b>
    <br />
    {{ form.nombre_director }}
    {% if form.nombre_director.errors %}
      <p>{{ form.nombre_director.errors}}</p>
    {% endif %}
  </div>

  <br />

  <a href="{% url 'registro:consultar_director' %}"><button type="button" class="btn btn-primary">Volver</button></a>
  <button class="btn btn-info" type="reset">Limpiar</button>
  <button class="btn btn-success" type="submit">Registrar</button>
</form>
{% endblock %}
