{% extends "base/base.html" %}
{% block titulo %}Registrar producto{% endblock %}
{% block cuerpo %}
<br />
<h1><a href="{% url 'registro:consultar_proyecto' %}" class="regresar"><i class="fa fa-mail-reply fa-lg ollapsed"></i></a> Registrar producto</h1>
<br />
<div class="row">
  <div class="col-sm-6">
    <form method="post">{% csrf_token %}
      <div class="">
        <i class="fa fa-file-text-o color-blue-system"></i>
        <b>{{ form.nombre_proyecto.label }}</b>
        <br />
        {{ form.nombre_proyecto }}
        {% if form.nombre_proyecto.errors %}
          <p>{{ form.nombre_proyecto.errors}}</p>
        {% endif %}
      </div>
      <button class="btn btn-success" type="submit">REGISTRAR</button>
    </form>
  </div>
  <div class="col-sm-6"></div>
</div>
{% endblock %}