{% extends "base/base.html" %}
{% block titulo %}Registrar producto{% endblock %}
{% block cuerpo %}
<br />
<h1><a href="{% url 'registro:consultar_proyecto' %}" class="regresar"><i class="fa fa-mail-reply fa-lg ollapsed"></i></a> Registrar producto</h1>
<br />
<form method="post">{% csrf_token %}

  <div class="">
    <b>{{ form.nombre_proyecto.label }}</b>
    <br />
    {{ form.nombre_proyecto }}
    {% if form.nombre_proyecto.errors %}
      <p>{{ form.nombre_proyecto.errors}}</p>
    {% endif %}
  </div>

  <br />

  <button class="btn btn-info" type="reset">Limpiar</button>
  <button class="btn btn-success" type="submit">Registrar</button>
</form>
{% endblock %}
