{% extends "base/base.html" %}
{% block titulo %}Detalle de Reporte{% endblock %}
{% block cuerpo %}
<br />
<h2>Reporte de {{ reporte.nombre_proyecto }} de {{ reporte.mes }} del {{ reporte.ano }}</h2>
<br />
<div align="justify">

  <!-- Row class
  ================================================== -->
  <div class="row">

    <div class="col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            <b>Nombre del Proyecto</b>
          </h3>
        </div>
        <div class="panel-body">
          {{ reporte.nombre_proyecto }}
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            <b>Registrado</b>
          </h3>
        </div>
        <div class="panel-body">
          {{ reporte.fecha_registro_reporte }}
        </div>
      </div>
    </div>
  </div>
  <!-- End Row class
  ================================================== -->

  <!-- Row class
  ================================================== -->
  <div class="row">

    <div class="col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><b>Nombre del Cara Visible</b></h3>
        </div>
        <div class="panel-body">
          {{ reporte.nombre_caravisible }}
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><b>Director de Proyecto</b></h3>
        </div>
        <div class="panel-body">
          {{ reporte.nombre_director }}
        </div>
      </div>
    </div>
  </div>
  <!-- End Row class
  ================================================== -->

  <!-- Row class
  ================================================== -->
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><b>Mes</b></h3>
        </div>
        <div class="panel-body">
          {{ reporte.mes }}
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><b>Año</b></h3>
        </div>
        <div class="panel-body">
          {{ reporte.ano }}
        </div>
      </div>
    </div>
  </div>
  <!-- End Row class
  ================================================== -->

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"><b>Descripción General del Avance del Proyecto</b></h3>
    </div>
    <div class="panel-body">
      {{ reporte.desc_avance }}
    </div>
  </div>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title"><b>Dificultades y Obstáculos</b></h3>
    </div>
    <div class="panel-body">
      {{ reporte.obstaculos }}
    </div>
  </div>

  <br />
  <h3>Integrantes del equipo</h3>

  <table class="tabla_trabajadores" border="1px" style="width:100%">
    <thead>
      <tr>
        <th><b>N</b></th>
        <th><b>Nombre del trabajador</b></th>
        <th><b>Cargo</b></th>
        <th><b>Actividades realizadas</b></th>
        <th><b>Enlaces de verificación</b></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>
          {{ reporte.nombre_trab_1 }}
        </td>
        <td>
          {{ reporte.cargo_trab_1 }}
        </td>
        <td>
          {{ reporte.act_rea_trab_1 }}
        </td>
        <td>
          {{ reporte.enlaces_trab_1 }}
        </td>
      </tr>
      <tr>
        <td>2</td>
        <td>
          {{ reporte.nombre_trab_2 }}
        </td>
        <td>
          {{ reporte.cargo_trab_2 }}
        </td>
        <td>
          {{ reporte.act_rea_trab_2 }}
        </td>
        <td>
          {{ reporte.enlaces_trab_2 }}
        </td>
      </tr>
      <tr>
        <td>3</td>
        <td>
          {{ reporte.nombre_trab_3 }}
        </td>
        <td>
          {{ reporte.cargo_trab_3 }}
        </td>
        <td>
          {{ reporte.act_rea_trab_3 }}
        </td>
        <td>
          {{ reporte.enlaces_trab_3 }}
        </td>
      </tr>
    </tbody>
  </table>
  <br />
</div>
{% endblock %}
