{% extends "base/base.html" %}
{% block titulo %}Detalle de Reporte{% endblock %}
{% block cuerpo %}
<script type="text/javascript">
  function export_report_to_pdf() {
    var docDefinition = {
      content: [
        { text: 'Reporte de {{ reporte.nombre_proyecto }} de {{ reporte.mes }} del {{ reporte.ano }}\n\n',style: 'header'},
        // Nombre del Proyecto
        { text: 'Nombre del Proyecto:', style: 'subheader' },
        { text: '{{ reporte.nombre_proyecto }}\n\n', style: 'text_query' },
        // Registrado
        { text: 'Registrado:', style: 'subheader' },
        { text: '{{ reporte.fecha_registro_reporte }}\n\n', style: 'text_query' },
        // Nombre del Cara Visible
        { text: 'Nombre del Cara Visible:', style: 'subheader'},
        { text: '{{ reporte.nombre_caravisible }}\n\n', style: 'text_query'},
        // Director de Proyecto
        { text: 'Director de Proyecto:', style: 'subheader' },
        { text: '{{ reporte.nombre_director }}\n\n', style: 'text_query' },
        // Mes
        { text: 'Mes:', style: 'subheader' },
        { text: '{{ reporte.mes }}\n\n', style: 'text_query' },
        // Año
        { text: 'Año:', style: 'subheader' },
        { text: '{{ reporte.ano }}\n\n', style: 'text_query' },
        // Descripción General del Avance del Proyecto
        { text: 'Descripción General del Avance del Proyecto:', style: 'subheader' },
        { text: '{{ reporte.desc_avance }}\n\n', style: 'text_query' },
        // Dificultades y Obstáculos
        { text: 'Dificultades y Obstáculos:', style: 'subheader' },
        { text: '{{ reporte.obstaculos }}\n\n', style: 'text_query' },
        // Tabla
        {
          table: {
            body: [
              // Header de la tabla
              [
                { text: 'N', bold: true },
                { text: 'Nombre del trabajador', bold: true },
                { text: 'Cargo', bold: true },
                { text: 'Actividades realizadas', bold: true },
                { text: 'Enlaces de verificación', bold: true },
              ],
              [
                '1',
                '{{ reporte.nombre_trab_1 }}',
                '{{ reporte.cargo_trab_1 }}',
                '{{ reporte.act_rea_trab_1 }}',
                '{{ reporte.enlaces_trab_1 }}',
              ],
              [
                '1',
                '{{ reporte.nombre_trab_1 }}',
                '{{ reporte.cargo_trab_1 }}',
                '{{ reporte.act_rea_trab_1 }}',
                '{{ reporte.enlaces_trab_1 }}',
              ]
            ]
          }
        },
      ],
      styles: {
        header: {
          fontSize: 18,
          bold: true,
          alignment: 'justify'
        },
        subheader: {
          fontSize: 15,
          bold: true,
          alignment: 'justify'
        },
        text_query: {
          alignment: 'justify'
        },
      }
    }
    pdfMake.createPdf(docDefinition).download();
  }
</script>
<br />
<h2>Reporte de {{ reporte.nombre_proyecto }} de {{ reporte.mes }} del {{ reporte.ano }}</h2>
<br />

<!-- Row class
================================================== -->
<div class="row">

  <div class="col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
          <b>Nombre del Proyecto</b>
        </h3>
      </div>
      <div class="panel-body">
        {{ reporte.nombre_proyecto }}
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
          <b>Registrado</b>
        </h3>
      </div>
      <div class="panel-body">
        {{ reporte.fecha_registro_reporte }}
      </div>
    </div>
  </div>
</div>
<!-- End Row class
================================================== -->

<!-- Row class
================================================== -->
<div class="row">

  <div class="col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><b>Nombre del Cara Visible</b></h3>
      </div>
      <div class="panel-body">
        {{ reporte.nombre_caravisible }}
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><b>Director de Proyecto</b></h3>
      </div>
      <div class="panel-body">
        {{ reporte.nombre_director }}
      </div>
    </div>
  </div>
</div>
<!-- End Row class
================================================== -->

<!-- Row class
================================================== -->
<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><b>Mes</b></h3>
      </div>
      <div class="panel-body">
        {{ reporte.mes }}
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title"><b>Año</b></h3>
      </div>
      <div class="panel-body">
        {{ reporte.ano }}
      </div>
    </div>
  </div>
</div>
<!-- End Row class
================================================== -->

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><b>Descripción General del Avance del Proyecto</b></h3>
  </div>
  <div class="panel-body">
    <div align="justify">
      {{ reporte.desc_avance | linebreaksbr }}
    </div>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title"><b>Dificultades y Obstáculos</b></h3>
  </div>
  <div class="panel-body">
    <div align="justify">
      {{ reporte.obstaculos | linebreaksbr }}
    </div>
  </div>
</div>

<br />
<h3>Integrantes del equipo</h3>

<table class="tabla_trabajadores" border="1px" style="width:100%">
  <thead>
    <tr>
      <th><b>N</b></th>
      <th><b>Nombre del trabajador</b></th>
      <th><b>Cargo</b></th>
      <th><b>Actividades realizadas</b></th>
      <th><b>Enlaces de verificación</b></th>
    </tr>
  </thead>
  <tbody>
    {% if reporte.nombre_trab_1 %}
      <tr>
        <td>1</td>
        <td>
          {{ reporte.nombre_trab_1 }}
        </td>
        <td>
          {{ reporte.cargo_trab_1 }}
        </td>
        <td align="justify">
          {{ reporte.act_rea_trab_1 | linebreaksbr }}
        </td>
        <td class="area_enlaces">
          {{ reporte.enlaces_trab_1 }}
        </td>
      </tr>
    {% endif %}
    {% if reporte.nombre_trab_2 %}
      <tr>
        <td>2</td>
        <td>
          {{ reporte.nombre_trab_2 }}
        </td>
        <td>
          {{ reporte.cargo_trab_2 }}
        </td>
        <td align="justify">
          {{ reporte.act_rea_trab_2 | linebreaksbr }}
        </td>
        <td class="area_enlaces">
          {{ reporte.enlaces_trab_2 }}
        </td>
      </tr>
    {% endif %}
    {% if reporte.nombre_trab_3 %}
      <tr>
        <td>3</td>
        <td>
          {{ reporte.nombre_trab_3 }}
        </td>
        <td>
          {{ reporte.cargo_trab_3 }}
        </td>
        <td align="justify">
          {{ reporte.act_rea_trab_3 | linebreaksbr }}
        </td>
        <td class="area_enlaces">
          {{ reporte.enlaces_trab_3 }}
        </td>
      </tr>
    {% endif %}
    {% if reporte.nombre_trab_4 %}
      <tr>
        <td>4</td>
        <td>
          {{ reporte.nombre_trab_4 }}
        </td>
        <td>
          {{ reporte.cargo_trab_4 }}
        </td>
        <td align="justify">
          {{ reporte.act_rea_trab_4 | linebreaksbr }}
        </td>
        <td class="area_enlaces">
          {{ reporte.enlaces_trab_4 }}
        </td>
      </tr>
    {% endif %}
    {% if reporte.nombre_trab_5 %}
      <tr>
        <td>5</td>
        <td>
          {{ reporte.nombre_trab_5 }}
        </td>
        <td>
          {{ reporte.cargo_trab_5 }}
        </td>
        <td align="justify">
          {{ reporte.act_rea_trab_5 | linebreaksbr }}
        </td>
        <td class="area_enlaces">
          {{ reporte.enlaces_trab_5 }}
        </td>
      </tr>
    {% endif %}
    {% if reporte.nombre_trab_6 %}
      <tr>
        <td>6</td>
        <td>
          {{ reporte.nombre_trab_6 }}
        </td>
        <td>
          {{ reporte.cargo_trab_6 }}
        </td>
        <td align="justify">
          {{ reporte.act_rea_trab_6 | linebreaksbr }}
        </td>
        <td class="area_enlaces">
          {{ reporte.enlaces_trab_6 }}
        </td>
      </tr>
    {% endif %}
    {% if reporte.nombre_trab_7 %}
      <tr>
        <td>7</td>
        <td>
          {{ reporte.nombre_trab_7 }}
        </td>
        <td>
          {{ reporte.cargo_trab_7 }}
        </td>
        <td align="justify">
          {{ reporte.act_rea_trab_7 | linebreaksbr }}
        </td>
        <td class="area_enlaces">
          {{ reporte.enlaces_trab_7 }}
        </td>
      </tr>
    {% endif %}
    {% if reporte.nombre_trab_8 %}
      <tr>
        <td>8</td>
        <td>
          {{ reporte.nombre_trab_8 }}
        </td>
        <td>
          {{ reporte.cargo_trab_8 }}
        </td>
        <td align="justify">
          {{ reporte.act_rea_trab_8 | linebreaksbr }}
        </td>
        <td class="area_enlaces">
          {{ reporte.enlaces_trab_8 }}
        </td>
      </tr>
    {% endif %}
    {% if reporte.nombre_trab_9 %}
      <tr>
        <td>9</td>
        <td>
          {{ reporte.nombre_trab_9 }}
        </td>
        <td>
          {{ reporte.cargo_trab_9 }}
        </td>
        <td align="justify">
          {{ reporte.act_rea_trab_9 | linebreaksbr }}
        </td>
        <td class="area_enlaces">
          {{ reporte.enlaces_trab_9 }}
        </td>
      </tr>
    {% endif %}
    {% if reporte.nombre_trab_10 %}
      <tr>
        <td>10</td>
        <td>
          {{ reporte.nombre_trab_10 }}
        </td>
        <td>
          {{ reporte.cargo_trab_10 }}
        </td>
        <td align="justify">
          {{ reporte.act_rea_trab_10 | linebreaksbr }}
        </td>
        <td class="area_enlaces">
          {{ reporte.enlaces_trab_10 }}
        </td>
      </tr>
    {% endif %}
  </tbody>
</table>
<br />
<a href="javascript:export_report_to_pdf()">Exportar en PDF</a>
{% endblock %}