{% extends "base/base.html" %}
{% block titulo %}Registrar Reporte{% endblock %}
{% block cuerpo %}
<h1>Registrar Reporte</h1>

<br />

<form method="post">{% csrf_token %}
  <!-- Row
  ================================================== -->
  <div class="row">
    
    <!-- Left Column
    ================================================== -->
    <div class="col-sm-6">

      <div class="well well-form">
        <b>{{ form.campo0.label }}</b>
        <br />
        {{ form.campo0 }}
      </div>

      <div class="well well-form">
        <b>{{ form.campo1.label }}</b>
        <br />
        {{ form.campo1 }}
      </div>

      <div class="well well-form">
        <b>{{ form.campo2.label }}</b>
        <br />
        {{ form.campo2 }}
      </div>

      <div class="well well-form">
        <b>{{ form.campo3.label }}</b>
        <br />
        {{ form.campo3 }}
      </div>

    </div><!-- End Left Column -->

    <!-- Right Column
    ================================================== -->
    <div class="col-sm-6">
     
     <h1>Derecha</h1>

    </div><!-- End Right Column -->

  </div><!-- End Row -->

  <a href="/"><button type="button" class="btn btn-primary">Volver</button></a>
  <button class="btn btn-info" type="reset">Limpiar</button>
  <button class="btn btn-success" type="submit">Registrar</button>
</form>

{% endblock %}
