{% extends "base/base.html" %}
{% block titulo %}Borrar reporte de tareas{% endblock %}
{% block cuerpo %}
<br />
<h1><a href="{{ request.META.HTTP_REFERER }}" class="regresar"><i class="fa fa-mail-reply fa-lg ollapsed"></i></a> Borrar reporte de tareas</h1>
<form method="post">{% csrf_token %}
  ¿Estás seguro que quieres eliminar el reporte de tareas de: <b>{{ object.nombre_proyecto }}</b> de <b>{{ object.mes }}</b> del <b>{{ object.ano }}</b>?
  <br />
  <br />
  <button class="btn btn-danger" type="submit">BORRAR</button>
</form>
{% endblock %}