<table border="1px" id="example" class="display" cellspacing="0px" style="width:100%;">
  <thead>
    <tr>
      <th class="text-center">N</th>
      <th class="text-center">Producto</th>
      <th class="text-center">Cara visible</th>
      <th class="text-center">Mes</th>
      <th class="text-center">Año</th>
      <th class="text-center">Registrado</th>
      {% if user.is_superuser and user.is_staff and user.is_active %}
        <th class="text-center">Estatus</th>
      {% endif %}
      <th class="text-center">Acciones</th>
    </tr>
  </thead>
  <tbody>
  {% for x in object_list %}
  <tr>
    <td class="text-center"></td>
    <td class="text-center">{{ x.nombre_proyecto }}</td>
    <td class="text-center">{{ x.nombre_caravisible }}</td>
    <td class="text-center">{{ x.mes }}</td>
    <td class="text-center">{{ x.ano }}</td>
    <td class="text-center">{{ x.fecha_registro_reporte }}</td>
    {% if user.is_superuser and user.is_staff and user.is_active %}
      {% if x.estatus == "act" %}
        <td class="text-center">Activo</td>
      {% elif x.estatus == "ina" %}
        <td class="text-center">Inactivo</td>
      {% else %}
      {% endif %}
    {% endif %}
    {% if request.user.is_superuser %}
      <td class="text-center td_botonera_tabla">
        <div class="row">
          <div class="col-sm-12">
            <a href="{% url 'registro:editar_reporte_analista' x.id %}" title="Editar"><i class="glyphicon glyphicon-pencil"></i></a>
            <a href="{% url 'registro:detallar_reporte' x.id %}" title="Detallar"><i class="glyphicon glyphicon-eye-open"></i></a>
            <a href="{% url 'registro:borrar_reporte' x.id %}" title="Borrar"><i class="glyphicon glyphicon-trash"></i></a>
          </div>
        </div>
      </td>
      {% else %}
      {% if x.autor == request.user.username %}
        <td class="text-center td_botonera_tabla">
          <div class="row">
            <div class="col-sm-12">
              {% if x.estatus == "act" %}
                <a href="{% url 'registro:editar_reporte' x.id %}" title="Editar"><i class="glyphicon glyphicon-pencil"></i></a>
              {% endif %}
              <a href="{% url 'registro:detallar_reporte' x.id %}" title="Detallar"><i class="glyphicon glyphicon-eye-open"></i></a>
            </div>
          </div>
        </td>
      {% else %}
        {% if request.user.is_staff %}
          <td class="text-center td_botonera_tabla">
            <a href="{% url 'registro:detallar_reporte' x.id %}" title="Detallar"><i class="glyphicon glyphicon-eye-open"></i></a>
          </td>
        {% else %}
          <td></td>
        {% endif %}
      {% endif %}
    {% endif %}
  </tr>
  {% endfor %}
  </tbody>
</table>