<!-- Modal DETAIL button -->
<div class="modal fade" id="modal-detallar" tabindex="-1" role="dialog" aria-labelledby="modal-newTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modal-newTitle">DETALLAR</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card bg-light mb-3">
          <div class="card-header">
            <i class="fa fa-list-alt fa-lg ollapsed"></i>
            {{ indicadores.beneficio }}
          </div>
          <div class="card-body">
            <p class="card-text">Mark</p>
          </div>
        </div>
        <div class="card bg-light mb-3">
          <div class="card-header">
            <i class="fa fa-list-alt fa-lg ollapsed"></i>
            Last name
          </div>
          <div class="card-body">
            <p class="card-text">Otto</p>
          </div>
        </div>
        <div class="card bg-light mb-3">
          <div class="card-header">
            <i class="fa fa-envelope fa-lg ollapsed"></i>
            Email
          </div>
          <div class="card-body">
            <p class="card-text">motto@mail.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal DETAIL button end -->