<!-- Modal DETAIL button -->
<div class="modal fade" id="modal-detallar" tabindex="-1" role="dialog" aria-labelledby="modal-newTitle" aria-hidden="true">
  <div class="modal-dialog" role="document" style="width:1250px">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2 class="modal-title" id="modal-newTitle"> Detalles de los indicadores </h2>
      </div>
      <div class="modal-body">
        <br />
        <form action="{% url 'reportes:detallar_indicadores' x.id %}" method="post">{% csrf_token %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">
              <i class="fa fa-file-text-o color-blue-system"></i>
              <b>Beneficio</b>
              </h3>
            </div>
            <div class="panel-body">
              {{ x.beneficio }}
            </div>
          </div>

          <div class="row">

            <div class="col-sm-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <i class="fa fa-calendar color-blue-system"></i>
                    <b>Año</b>
                  </h3>
                </div>
                <div class="panel-body">
                  {{ x.ano_beneficio }}
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <i class="fa fa-calendar color-blue-system"></i>
                    <b>Mes</b>
                  </h3>
                </div>
                <div class="panel-body">
                  {{ x.mes_beneficio }}
                </div>
              </div>
            </div>

            <div class="col-sm-4">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <i class="fa fa-file-text-o color-blue-system"></i>
                    <b>Cantidad</b>
                  </h3>
                </div>
                <div class="panel-body">
                  {{ x.cantidad }}
                </div>
              </div>
            </div>
          </div>

          <h5>Impacto del proyecto</h5>
          <div class="row">

            <div class="col-sm-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <i class="fa fa-file-text-o color-blue-system"></i>
                    <b>Social</b>
                  </h3>
                </div>
                <div class="panel-body">
                  {{ x.social }}
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <i class="fa fa-file-text-o color-blue-system"></i>
                    <b>Económico</b>
                  </h3>
                </div>
                <div class="panel-body">
                  {{ x.economico }}
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <i class="fa fa-file-text-o color-blue-system"></i>
                    <b>Productivo</b>
                  </h3>
                </div>
                <div class="panel-body">
                  {{ x.productivo }}
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <i class="fa fa-file-text-o color-blue-system"></i>
                    <b>Ambiental</b>
                  </h3>
                </div>
                <div class="panel-body">
                  {{ x.ambiental }}
                </div>
              </div>
            </div>

          </div>

          <h5>Beneficiarios del proyecto</h5>
          <div class="row">

            <div class="col-sm-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <i class="fa fa-file-text-o color-blue-system"></i>
                    <b>Quienes</b>
                  </h3>
                </div>
                <div class="panel-body">
                  {{ x.quienes }}
                </div>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <i class="fa fa-file-text-o color-blue-system"></i>
                    <b>Cuantos</b>
                  </h3>
                </div>
                <div class="panel-body">
                  {{ x.cuantos }}
                </div>
              </div>
            </div>

          </div>

        <br />
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal DETAIL button end -->

<!-- Modal DELETE button -->
<div class="modal fade" id="myModal{{indicadores.id}}" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <form action="{% url 'reportes:borrar_indicadores' x.id %}" method="post">{% csrf_token %}
          <br>
          <i class="fa fa-times-circle fa-lg"></i>
          <br><br>
          <h4>¿Estás seguro que quieres eliminar el indicador: <b>{{ x.beneficio }}</b>?</h4>
          <br>
          <button type="button" class="btn btn-default" data-dismiss="modal">CANCELAR</button>
          <button class="btn btn-danger" type="submit">BORRAR</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Modal DELETE button end -->