<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    {% load staticfiles %}
    <link rel="icon" href="{% static 'img/cenditel-logo-blue.png' %}">
    <title>
      {% block titulo %}Base{% endblock %}
    </title>
    <!-- Bootstrap Styles - css
    ================================================== -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">
    <!-- Others - js
    ================================================== -->
    <script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
    <script src="{% static 'js/holder.min.js' %}"></script>
    <!-- Jquery - js
    ================================================== -->
    <script type="text/javascript" language="javascript" src="{% static 'datatables/js/jquery-1.12.4.js' %}"></script>
    <!-- Bootstrap - js
    ================================================== -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- Bug fix - js
    ================================================== -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>
    <!-- DatePicker
    ================================================== -->
    <link rel="stylesheet" href="{% static 'datepicker/css/jquery-ui.css' %}" type="text/css"/>
    <script src="{% static 'datepicker/jquery-ui.js' %}" type="text/javascript"></script>
    <!-- DataTables JS
    ================================================== -->
    <script src="{% static 'datatables/js/jquery.dataTables.min.js' %}" type="text/javascript"></script>
    <link href="{% static 'datatables/css/jquery.dataTables.min.css' %}" rel="stylesheet" type="text/css" />
    <!-- Scripts - js
    ================================================== -->
    <script src="{% static 'js/scripts.js' %}" type="text/javascript"></script>
    <!-- Import CSS files -->
    <link rel="stylesheet" type="text/css" href="{% static 'datatables/css/jquery.dataTables.min.css' %}">
    <!-- Import JS files -->
    <script type="text/javascript" language="javascript" src="{% static 'datatables/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'datatables/js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'datatables/js/buttons.flash.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'datatables/js/jszip.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'datatables/js/pdfmake.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'datatables/js/vfs_fonts.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'datatables/js/buttons.html5.min.js' %}"></script>
    <script type="text/javascript" language="javascript" src="{% static 'datatables/js/buttons.print.min.js' %}"></script>
    <!-- Import pdfmake files -->
    <script src="{% static 'js/pdfmake.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/vfs_fonts.js' %}" type="text/javascript"></script>
    <!-- Styles - css
    ================================================== -->
    <link href="{% static 'css/theme.css' %}" rel="stylesheet">
  </head>
<body>

<!-- Fixed navbar
================================================== -->
<nav class="navbar navbar-inverse navbar-fixed-top navbar-fixed-edit">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{% url 'inicio:index' %}">
      SISREP - Sistema para reportar las actividades de los proyectos de CENDITEL
    </a>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown dropdown-margin">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        {% if request.user.is_authenticated %}
          <i class="glyphicon glyphicon-user"></i>
          {% if user.is_superuser and user.is_staff and user.is_active %}
            {{ request.user.username }} (Analista) <span class="caret"></span>
          {% else %}
            {% if user.is_staff and user.is_active %}
              {{ request.user.username }} (Director) <span class="caret"></span>
            {% else %}
              {% if user.is_active %}
                {{ request.user.username }} (Cara Visible) <span class="caret"></span>
              {% else %}
                xxx
              {% endif %}
            {% endif %}
          {% endif %}
        {% endif %}
      </a>
      {% if request.user.is_authenticated %}
      <ul class="dropdown-menu">
        <li>
          <a href="{% url 'usuarios:change_password' %}">
            <i class="glyphicon glyphicon-wrench"></i>
            Cambiar contraseña
          </a>
        </li>
        <li>
          <a href="{% url 'usuarios:logout' %}">
            <i class="glyphicon glyphicon-off"></i>
            Salir
          </a>
        </li>
      </ul>
      {% endif %}
    </li>
  </ul>
</nav>
<!-- Fixed navbar end -->

<!-- row class
================================================== -->
<div class="row">

  <!-- col-2
  ================================================== -->
  <div class="col-sm-1 left-column">
    <br />
    {% if request.user.is_authenticated %}
      <div class="text-center">
        <a href="{% url 'inicio:index' %}" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Inicio">
          <i class="glyphicon glyphicon-home glyphicon-home-menu color-white"></i>
        </a>
        <br />
        <br />
        <br />
        {% if request.user.is_superuser %}
          <a href="{% url 'safet:inicio_carga_inicial' %}" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Carga inicial">
            <i class="glyphicon glyphicon-tasks glyphicon-tasks-menu color-white"></i>
          </a>
          <br />
          <br />
          <br />
        {% else %}
        {% endif %}
        <a href="{% url 'safet:inicio_reporte_avances' %}" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Reporte de avances">
          <i class="glyphicon glyphicon-file glyphicon-file-menu color-white"></i>
        </a>
        <br />
        <br />
        <br />
        <a href="{% url 'safet:inicio_reporte_actividades' %}" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Reporte de actividades">
          <i class="glyphicon glyphicon-duplicate glyphicon-duplicate-menu color-white"></i>
        </a>
        {% if request.user.is_superuser %}
          <br />
          <br />
          <br />
          <a href="{% url 'bitacora:bitacora' %}" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Bitácora de eventos">
            <i class="glyphicon glyphicon-sunglasses glyphicon-sunglasses-menu color-white"></i>
          </a>
        {% else %}
        {% endif %}
        <br />
        <br />
        <br />
        <a href="{% url 'usuarios:logout' %}" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Salir">
          <i class="glyphicon glyphicon-off glyphicon-off-menu color-white"></i>
        </a>
      </div>
      {% else %}
        <div class="text-center">
          <a href="{% url 'inicio:index' %}">
            <i class="glyphicon glyphicon-home glyphicon-home-menu color-white"></i>
          </a>
        </div>
      {% endif %}
  </div>
  <!-- col-2 -->

  <!-- col-11
  ================================================== -->
  <div class="col-sm-11 right-column">

    <!-- Container class
    ================================================== -->
    <div class="containerr container-all theme-showcase" role="main">

      <br />

      <!-- Well class
      ================================================== -->
      <div class="well-transparent">

        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-success alert-dismissable notificacion-emergente">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong>
                  {% if message.tags %}{% endif %}
                  {{ message }}
                </strong>
            </div>
          {% endfor %}
        {% endif %}

        {% if messages_alert %}
          {% for message in messages_alert %}
            <div class="alert alert-danger alert-dismissable notificacion-emergente">
              <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
                <strong>
                  {% if message.tags %}{% endif %}
                  {{ message }}
                </strong>
            </div>
          {% endfor %}
        {% endif %}

        <div class="cuerpo">
        {% block cuerpo %}
        {% endblock %}
        </div>
      </div>
      <!-- End Well class -->
    </div>
    <!-- End Container class -->
  </div>
  <!-- col-10 end -->
</div>
<!-- row class -->
</body>
</html>