{% extends "base/base.html" %}
{% block titulo %}Cambiar contraseña{% endblock %}
{% block cuerpo %}
<br />
<h1 class="color-white"><a href="{% url 'inicio:index' %}" class="regresar"><i class="fa fa-mail-reply fa-lg ollapsed"></i></a> Cambiar contraseña</h1>
<br />
<div align="center">
  <form action="" method="post"> {% csrf_token %}
    <table class="table_change_password" cellpadding="0px" cellspacing="0px">
      <tbody>
        <tr>
          <td>
            <label>Contraseña actual</label>
            {{ form.old_password }}
            {% if form.old_password.errors %}
              <p>{{ form.old_password.errors}}</p>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>
            <label>Contraseña nueva</label>
            {{ form.new_password1 }}
            {% if form.new_password1.errors %}
              <p>{{ form.new_password1.errors }}</p>
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>
            <label>Contraseña nueva (confirmación)</label>
            {{ form.new_password2 }}
            {% if form.new_password2.errors %}
              <p>{{ form.new_password2.errors }}</p>
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
    <br />
    <button class="btn btn-success" type="submit">Cambiar contraseña</button>
  </form>
</div>
{% endblock %}