{% extends "base/base.html" %}
{% block titulo %}Actualizar usuario{% endblock %}
{% block barra %}
<!-- Breadcrumb
================================================== -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb breadcrumb-margin-top">
    <li class="breadcrumb-item"><a href="{% url 'usuarios:list_users' %}">Lista de usuarios</a></li>
    <li class="breadcrumb-item"><a href="">Editar usuario</a></li>
  </ol>
</nav>
<!-- End Breadcrumb -->
{% endblock %}
{% block cuerpo %}
<br />
<h1>Actualizar usuario</h1>
<br />
<form action="" method="post">{% csrf_token %}
  <div class="row">
    <div class="col-sm-4">
      <label>{{ form.username.label }}</label>
      <br />
      {{ form.username }}
      {% if form.username.errors %}
        <br />
        <b>Alert: </b>{{ form.username.errors}}
      {% endif %}
      <br />
      <label>{{ form.first_name.label }}</label>
      <br />
      {{ form.first_name }}
      {% if form.first_name.errors %}
        <br />
        <b>Alert: </b>{{ form.first_name.errors}}
      {% endif %}
      <br />
      <label>{{ form.rol.label }}</label>
      <br />
      {% if form.is_active.value == True and form.is_staff.value == True and form.is_superuser.value == True %}
        <select class="form-control input-md" id="id_rol" name="rol" style="min-width: 0; width: 100%; display: inline;">
          <option value="is_superuser">Analista</option>
          <option value="is_staff">Director</option>
          <option value="is_active">Cara visible</option>
        </select>
      {% else %}
        {% if form.is_active.value == True and form.is_staff.value == True and form.is_superuser.value == False %}
          <select class="form-control input-md" id="id_rol" name="rol" style="min-width: 0; width: 100%; display: inline;">
            <option value="is_staff">Director</option>
            <option value="is_active">Cara visible</option>
            <option value="is_superuser">Analista</option>
          </select>
        {% else %}
          {% if form.is_active.value == True and form.is_staff.value == False and form.is_superuser.value == False %}
            <select class="form-control input-md" id="id_rol" name="rol" style="min-width: 0; width: 100%; display: inline;">
              <option value="is_active">Cara visible</option>
              <option value="is_staff">Director</option>
              <option value="is_superuser">Analista</option>
            </select>
          {% endif %}
        {% endif %}
      {% endif %}
    </div>
    <div class="col-sm-4">
      <label>{{ form.email.label }}</label>
      <br />
      {{ form.email }}
      {% if form.email.errors %}
        <br />
        <b>Alert: </b>{{ form.email.errors}}
      {% endif %}
      <br />
      <label>{{ form.last_name.label }}</label>
      <br />
      {{ form.last_name }}
      {% if form.last_name.errors %}
        <br />
        <b>Alert: </b>{{ form.last_name.errors}}
      {% endif %}
    </div>
    <div class="col-sm-4">
    </div>
  </div>
  <button class="btn btn-success" type="submit">Actualizar</button>
  <a href="{% url 'usuarios:user_change_password' user.pk %}"><button type="button" class="btn btn-primary">Cambiar contraseña</button>
</form>
{% endblock %}