{% extends "base/base.html" %}
{% block titulo %}Lista de usuarios del sistema{% endblock %}
{% block cuerpo %}
<br />
<h1><a href="{% url 'safet:inicio_carga_inicial' %}" class="regresar"><i class="fa fa-mail-reply fa-lg ollapsed"></i></a> Lista de usuarios del sistema</h1>
<br />
<a href="{% url 'usuarios:register' %}">
  <button class="btn btn-success">Registrar usuario</button>
</a>
<br />
<br />
<table border="1px" id="example" class="display" cellspacing="0px" style="width:100%;">
  <thead>
    <tr>
      <th class="text-center">N</th>
      <th class="text-center">Nombre de usuario</th>
      <th class="text-center">Primer nombre</th>
      <th class="text-center">Primer apellido</th>
      <th class="text-center">Correo electrónico</th>
      <th class="text-center">Fecha de registro</th>
      <th class="text-center">Último acceso</th>
      <th class="text-center">Tipo</th>
      <th class="text-center">Acciones</th>
    </tr>
  </thead>
  <!--tfoot class="color-white">
    <tr>
      <th>N</th>
      <th>Nombre de usuario</th>
      <th>Primer nombre</th>
      <th>Primer apellido</th>
      <th>Correo electrónico</th>
      <th>Fecha de registro</th>
      <th>Último acceso</th>
      <th>Tipo</th>
      <th>Acciones</th>
    </tr>
  </tfoot-->
  <tbody>
  {% for user in object_list %}
  <tr>
    <td class="text-center"></td>
    <td>{{ user.username }}</td>
    <td>{{ user.first_name }}</td>
    <td>{{ user.last_name }}</td>
    <td>{{ user.email }}</td>
    <td>{{ user.date_joined }}</td>
    <td>{{ user.last_login }}</td>
    {% if user.is_superuser == True and user.is_staff == True and user.is_active == True %}
      <td class="td_si">Analista</td>
    {% else %}
      {% if user.is_superuser == False and user.is_staff == True and user.is_active == True %}
        <td class="td_si">Director</td>
      {% else %}
        {% if user.is_superuser == False and user.is_staff == False and user.is_active == True %}
          <td class="td_si">Cara visible</td>
        {% endif %}
      {% endif %}
    {% endif %}
    <td class="text-center td_botonera_tabla">
      <div class="row">
        <div class="col-sm-12">
          <a href="{% url 'usuarios:edit_user' user.pk %}" title="Editar"><i class="glyphicon glyphicon-pencil"></i></a>
          <a href="{% url 'usuarios:delete_user' user.id %}" title="Borrar"><i class="glyphicon glyphicon-trash"></i></a>
        </div>
      </div>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}