{% extends "base/base.html" %}
{% block titulo %}Iniciar sesión{% endblock %}
{% block cuerpo %}
{% load staticfiles %}
<div align="center">
  <img class="img-lupa" src="{% static 'img/logo_sisrep.png' %}" width="20%">
  <!--h2 class="color-white">SISREP - Sistema para reportar actividades</h2-->
</div>
<div align="center">
  <!--h1 class="color-white">Iniciar sesión</h1-->
  <form action="{% url 'usuarios:login' %}" method="post">{% csrf_token %}
    <br />
    <b>Usuario</b><br />
    {{ form.username }}
    <span class="glyphicon glyphicon-user"></span>
    <br />
    {% if form.username.errors %}
      <p>{{ form.username.errors}}</p>
    {% endif %}
    <br />
    <b>Contraseña</b>
    <br />
    {{ form.password }}
    <span class="glyphicon glyphicon-lock"></span>
    <br />
    {% if form.password.errors %}
      <p>{{ form.password.errors}}</p>
    {% endif %}
    <br />
    <button class="btn btn-success" type="submit">
      Entrar&nbsp;<span class="glyphicon glyphicon-log-in"></span>
    </button>
    <br>
    <br>
    <a class="enlace_boton_panel" href="{% url 'usuarios:password_reset' %}">¿Olvidó su contraseña?</a>
  </form>
  <br>
  <b>Desarrollado en CENDITEL</b>
</div>
{% endblock %}