{% extends "base/base.html" %}
{% block titulo %}Iniciar sesión{% endblock %}
{% block cuerpo %}
{% load staticfiles %}
<div align="center">
  <img class="img-lupa" src="{% static 'img/logo_sisrep.png' %}" width="20%">
</div>
<div align="center">
  <form action="{% url 'usuarios:login' %}" method="post">{% csrf_token %}
    <br />
    <b>Usuario</b><br />
    <span class="glyphicon glyphicon-user color-blue-system"></span>
    {{ form.username }}
    <br />
    {% if form.username.errors %}
      <p>{{ form.username.errors}}</p>
    {% endif %}
    <b>Contraseña</b>
    <br />
    <span class="glyphicon glyphicon-lock color-blue-system"></span>
    {{ form.password }}
    <br />
    {% if form.password.errors %}
      <p>{{ form.password.errors}}</p>
    {% endif %}
    <button class="btn btn-success" type="submit">ENTRAR</button>
    <br>
    <!--br>
    <a class="enlace_boton_panel" href="{% url 'usuarios:password_reset' %}">¿Olvidó su contraseña?</a-->
  </form>
  <br>
  <b>
    <a href="http://www.cenditel.gob.ve/" style="color:#343e48">
      Diseñado por Ing. Argenis Osorio, Desarrollado por CENDITEL.
    </a>
  </b>
</div>
{% endblock %}
