{% extends "base/base.html" %}
{% block titulo %}Iniciar sesión{% endblock %}
{% block cuerpo %}
<div align="center">
  <h3>Iniciar sesión</h3>
  <form action="{% url 'usuarios:login' %}" method="post">{% csrf_token %}
    <br />
    <b>Usuario</b><br />
    {{ form.username }}
    <br />
    {% if form.username.errors %}
      <p>{{ form.username.errors}}</p>
    {% endif %}
    <br />
    <b>Contraseña</b>
    <br />
    {{ form.password }}
    <br />
    {% if form.password.errors %}
      <p>{{ form.password.errors}}</p>
    {% endif %}
    <br />
    <button class="btn btn-success" type="submit">Iniciar sesión</button>
  </form>
</div>
<br />
{% endblock %}
