<!-- Modal con el formulario de registro de usuarios-->
<div class="modal fade" id="modal-registrar" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h1 class="modal-title">Registrar usuario</h1>
      </div>
      <div class="modal-body">
        <form action="{% url 'usuarios:register' %}" method="post">{% csrf_token %}
          <div class="row">
            <div class="col-sm-6">
              <i class="fa fa-user color-blue-system"></i>
              <label>Nombre de usuario</label>
              <br />
              <input class="form-control input-md form_style" id="id_username" name="username" tabindex="1" type="text" required="required" />
              <i class="fa fa-list-alt color-blue-system"></i>
              <label>Primer nombre</label>
              <br />
              <input class="form-control input-md form_style" id="id_first_name" name="first_name" tabindex="3" type="text" required="required" />
              <i class="fa fa-lock color-blue-system"></i>
              <label>Contraseña</label>
              <br />
              <input class="form-control input-md form_style" id="id_password1" name="password1" tabindex="5" type="password" required="required" />
              <i class="fa fa-lock color-blue-system"></i>
              <label>Confirmar contraseña</label>
              <br />
              <input class="form-control input-md form_style" id="id_password2" name="password2" tabindex="6" type="password" required="required" />
            </div>
            <div class="col-sm-6">
              <i class="fa fa-envelope color-blue-system"></i>
              <label>Correo electrónico</label>
              <br />
              <input class="form-control input-md form_style" id="id_email" name="email" tabindex="2" type="email" required="required" />
              <i class="fa fa-list-alt color-blue-system"></i>
              <label>Primer apellido</label>
              <br />
              <input class="form-control input-md form_style" id="id_last_name" name="last_name" tabindex="4" type="text" required="required" />
              <i class="fa fa-wpforms color-blue-system"></i>
              <label>Rol</label>
              <br />
              <select class="form-control input-md form_style" id="id_rol" name="rol" required="required">
                <option value="is_active">Cara visible</option>
                <option value="is_staff">Supervisor</option>
                <option value="is_superuser">Analista</option>
              </select>
            </div>
          </div>
          <button type="button" class="btn btn-default" data-dismiss="modal">CANCELAR</button>
          <button class="btn btn-success" type="submit">REGISTRAR</button>
        </form>
      </div>
    </div>
  </div>
</div>