<!-- Modal con el formulario de registro de usuarios-->
<div class="modal fade" id="modal-registrar" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h1 class="modal-title">Registrar usuario</h1>
      </div>
      <div class="modal-body">
        <form action="{% url 'usuarios:register' %}" method="post">{% csrf_token %}
          <div class="row">
            <div class="col-sm-6">
              <label>Nombre de usuario</label>
              <br />
              <input class="form-control input-md" id="id_username" name="username" style="min-width: 0; width: 100%; display: inline;" tabindex="1" type="text" />
              <br />
              <label>Primer nombre</label>
              <br />
              <input class="form-control input-md" id="id_first_name" name="first_name" style="min-width: 0; width: 100%; display: inline;" tabindex="3" type="text" />
              <br />
              <label>Contraseña</label>
              <br />
              <input class="form-control input-md" id="id_password1" name="password1" style="min-width: 0; width: 100%; display: inline;" tabindex="5" type="password" />
              <br />
              <label>Confirmar contraseña</label>
              <br />
              <input class="form-control input-md" id="id_password2" name="password2" style="min-width: 0; width: 100%; display: inline;" tabindex="6" type="password" />
            </div>
            <div class="col-sm-6">
              <label>Correo electrónico</label>
              <br />
              <input class="form-control input-md" id="id_email" name="email" style="min-width: 0; width: 100%; display: inline;" tabindex="2" type="text" />
              <br />
              <label>Primer apellido</label>
              <br />
              <input class="form-control input-md" id="id_last_name" name="last_name" style="min-width: 0; width: 100%; display: inline;" tabindex="4" type="text" />
              <br />
              <label>Rol</label>
              <br />
              <select class="form-control input-md" id="id_rol" name="rol" style="min-width: 0; width: 100%; display: inline;">
                <option value="is_active">Cara visible</option>
                <option value="is_staff">Director</option>
                <option value="is_superuser">Analista</option>
              </select>
            </div>
          </div>
          <button type="button" class="btn btn-default" data-dismiss="modal">CANCELAR</button>
          <button class="btn btn-success" type="submit">REGISTRAR</button>
        </form>
      </div>
    </div>
  </div>
</div>