{% extends "base/base.html" %}
{% load i18n %}
{% block titulo %}Restablecer contraseña{% endblock %}
{% block cuerpo %}
<div align="center">
  <br />
  <h1><a href="{{ request.META.HTTP_REFERER }}" class="regresar"><i class="fa fa-mail-reply fa-lg ollapsed"></i></a> Recuperar contraseña por correo electrónico</h1>
  <br />
  <h4> Por favor introduzca la dirección de correo electrónico suministrada al registrarse en el sistema</h4>
  <br>
  <form action="" method="post">{% csrf_token %}
    <b>Correo electrónico</b><br />
    {{ form.email }}
    <br />
    {{ form.email.errors }}
    <br />
    <button class="btn btn-success" type="submit">ENVIAR</button>
  </form>
</div>
{% endblock %}