{% extends "base/base.html" %}
{% load i18n %}
{% block titulo %}Restablecimiento de contraseña enviado{% endblock %}
{% block cuerpo %}
<br />
<h4>
  Le hemos enviado por correo electrónico las instrucciones para restablecer su contraseña, si es que existe un usuario en el sistema con la dirección electrónica que indicó, debería recibirlas en breve.
  <br />
  <br />
  Si no recibe un correo, por favor asegúrese que ha introducido la dirección de correo con la que se registró en el sistema y verifique su carpeta de spam.
</h4>
{% endblock %}