{% extends "base/base.html" %}
{% load i18n %}


{% block titulo %}Restablecer contraseña{% endblock %}
<!-- {% block content_title %}<h1>{{ title }}</h1>{% endblock %} -->
{% block cuerpo %}

<div align="center">
    <br />
        <h1 class="color-white"><a href=""><i class="fa fa-mail-reply fa-lg ollapsed"></i></a> Recuperación de contraseña</h1>
    <br />
    <p><h4 class="color-blue"> Introduzca la dirección de correo electrónico suministrada al registrarse</h4></p>
    <br>
    <form action="" method="post">{% csrf_token %}
    {{ form.email.errors }}
        <p><label for="id_email">{% trans 'Email address:' %}</label> {{ form.email }} <input type="submit" value="Recuperar contraseña" /></p>
    </form>
</div>

{% endblock %}
