{% extends "base/base.html" %}
{% load i18n %}

{% block titulo %}Cambio de contraseña{% endblock %}

{% block cuerpo %}
{% load staticfiles %}

{% if validlink %}

<br />
<p class="color-green">{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
<br />
<div align="center">
  <form method="post" align="center">{% csrf_token %}
    <table class="table_change_password" cellpadding="0px" cellspacing="0px">
      <tbody>
        <tr>
          <td>
            {{ form.new_password1.errors }}
            <p class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}</p>
          </td>
        </tr>
        <tr>
      	  <td>
            {{ form.new_password2.errors }}
            <p class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}</p>
          </td>
        </tr>
      </tbody>
      <br />
    </table>
  <p><input type="submit" value="{% trans 'Change my password' %}" /></p>
  </form>
</div>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
