{% extends "base/base.html" %}
{% load i18n %}
{% block titulo %}Restablecimiento de contraseña enviado{% endblock %}
{% block cuerpo %}
<br />
<h4>
  Hemos enviado las instrucciones para restablecer tu contraseña al correo
  electrónico que nos proporcionaste. Si la dirección coincide con una cuenta
  existente, recibirás el mensaje en los próximos minutos.
  <br />
  <br />
  Si no lo encuentras, por favor confirma que escribiste correctamente tu
  dirección de correo electrónico o revisa la carpeta de spam o correo no
  deseado de tu bandeja de entrada.
</h4>
{% endblock %}
