{% extends "base/base.html" %}
{% block titulo %}Cambiar contraseña del usuario{% endblock %}
{% block cuerpo %}
<br />
<h1><a href="{% url 'usuarios:edit_user' user.pk %}" class="regresar"><i class="fa fa-mail-reply fa-lg ollapsed"></i></a> Cambiar contraseña del usuario "{{ usuario }}"</h1>
<br />
<form action="" method="post"> {% csrf_token %}
  <table class="table_change_password" cellpadding="0px" cellspacing="0px">
    <tbody>
      <tr>
        <td>
          <label>Contraseña nueva</label>
          {{ form.password1 }}
          {% if form.password1.errors %}
            <p>{{ form.password1.errors }}</p>
          {% endif %}
        </td>
      </tr>
      <tr>
        <td>
          <label>Contraseña nueva (confirmación)</label>
          {{ form.password2 }}
          {% if form.password2.errors %}
            <p>{{ form.password2.errors }}</p>
          {% endif %}
        </td>
      </tr>
    </tbody>
  </table>
  <br />
  <button class="btn btn-success" type="submit">Cambiar contraseña</button>
</form>
{% endblock %}