{% extends "base/base.html" %}
{% block titulo %}Cambiar contraseña del usuario{% endblock %}
{% block cuerpo %}
<br />
<h1><a href="{{ request.META.HTTP_REFERER }}" class="regresar"><i class="fa fa-mail-reply fa-lg ollapsed"></i></a> Cambiar contraseña del usuario "{{ usuario }}"</h1>
<br />
<form action="" method="post"> {% csrf_token %}
  <i class="fa fa-lock color-blue-system"></i>
  <label>Contraseña nueva</label>
  <br>
  {{ form.password1 }}
  {% if form.password1.errors %}
    <p>{{ form.password1.errors }}</p>
  {% endif %}
  <br>
  <br />
  <i class="fa fa-lock color-blue-system"></i>
  <label>Contraseña nueva (confirmación)</label>
  <br>
  {{ form.password2 }}
  {% if form.password2.errors %}
    <p>{{ form.password2.errors }}</p>
  {% endif %}
  <br />
  <br />
  <button class="btn btn-success" type="submit">ACTUALIZAR</button>
</form>
{% endblock %}